Repository cert-manager/testing: changes, and which Prow jobs are due for each by the changed paths.
All: post-testing-upload-testgrid-config, post-testing-push-gencred, post-testing-push-prow-controller-manager-spot, post-testing-push-make-dind, post-testing-push-golang-dind, post-testing-push-image-builder, post-testing-push-kind, aws-testing, post-testing-push-nix-dind

Path conditions:
  post-testing-upload-testgrid-config: any of: ^(config/jobs/.*\.yaml)|(config/testgrid/dashboards\.yaml)$
  post-testing-push-gencred: any of: ^images/gencred/
  post-testing-push-prow-controller-manager-spot: any of: ^images/prow-controller-manager-spot/
  post-testing-push-make-dind: any of: ^images/make-dind/
  post-testing-push-golang-dind: any of: ^images/golang-dind/
  post-testing-push-image-builder: any of: ^images/image-builder/
  post-testing-push-kind: any of: ^images/kind/
  aws-testing: any of: ^images/golang-aws/
  post-testing-push-nix-dind: any of: ^images/nix-dind/

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/config.yaml
  config/jobs/testing/testing-periodics-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/gencred_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Due: post-testing-upload-testgrid-config

upgrade go dependencies
  images/gencred/go.mod
  images/gencred/go.sum
  images/gencred/main.go
Due: post-testing-push-gencred

upgrade image variants
  images/golang-dind/build.yaml
  images/image-builder/build.yaml
  images/make-dind/build.yaml
Due: post-testing-push-make-dind, post-testing-push-golang-dind, post-testing-push-image-builder

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  prow/cluster/gencred_deployment.yaml
Due: none

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/jobs/cert-manager/approver-policy/cert-manager-approver-policy-presubmits.yaml
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.12/cert-manager-release-1.12.yaml
  config/jobs/cert-manager/cert-manager/release-1.16/cert-manager-release-1.16.yaml
  config/jobs/cert-manager/cert-manager/release-1.17/cert-manager-release-1.17.yaml
  config/jobs/cert-manager/cmctl/cert-manager-cmctl.yaml
  config/jobs/cert-manager/csi-driver-spiffe/cert-manager-csi-driver-spiffe-presubmits.yaml
  config/jobs/cert-manager/csi-driver/cert-manager-csi-driver-presubmits.yaml
  config/jobs/cert-manager/helm-tool/cert-manager-helm-tool.yaml
  config/jobs/cert-manager/issuer-lib/cert-manager-issuer-lib-presubmits.yaml
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-periodics.yaml
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
  config/jobs/cert-manager/openshift-routes/cert-manager-openshift-routes-presubmits.yaml
  config/jobs/cert-manager/trust-manager/trust-manager-presubmits.yaml
  config/prowgen/pkg/globals.go
  images/golang-dind/build.yaml
  images/nix-dind/build.yaml
Due: post-testing-upload-testgrid-config, post-testing-push-golang-dind, post-testing-push-nix-dind

switch to golang-dind 1.24 and image-builder gcloud-516
  config/jobs/cert-manager/boilersuite/cert-manager-boilersuite.yaml
  config/jobs/cert-manager/org/org-presubmits.yaml
  config/jobs/cert-manager/release/cert-manager-release-presubmits.yaml
  config/jobs/cert-manager/webhook-example/cert-manager-webhook-example-presubmits.yaml
  config/jobs/testing/testing-postsubmits-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  images/gencred/build.yaml
  images/image-builder/build.yaml
  images/prow-controller-manager-spot/build.yaml
Due: post-testing-upload-testgrid-config, post-testing-push-gencred, post-testing-push-prow-controller-manager-spot, post-testing-push-image-builder

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/jobs/cert-manager/csi-lib/cert-manager-csi-lib-presubmits.yaml
  config/jobs/testing/testing-postsubmits-trusted.yaml
  prow/cluster/gencred_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
Due: post-testing-upload-testgrid-config

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/config.yaml
  config/jobs/testing/testing-periodics-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Due: post-testing-upload-testgrid-config

add option to gencred to use the system public CAs in the kubeconfig
  images/gencred/go.mod
  images/gencred/go.sum
  images/gencred/main.go
Due: post-testing-push-gencred

use executable mount on host system
  config/jobs/cert-manager/config.yaml
Due: post-testing-upload-testgrid-config

add image-tool tests
  config/jobs/cert-manager/image-tool/cert-manager-image-tool.yaml
Due: post-testing-upload-testgrid-config

add image-tool to label-sync and triageparty
  config/jobs/testing/testing-periodics-trusted.yaml
  triage_party/triageparty_configmap.yaml
Due: post-testing-upload-testgrid-config

remove broken preStop lifecycle hook
  config/prowgen/pkg/generators.go
  config/prowgen/pkg/types.go
Due: none

run 'make prowgen'
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.12/cert-manager-release-1.12.yaml
  config/jobs/cert-manager/cert-manager/release-1.16/cert-manager-release-1.16.yaml
  config/jobs/cert-manager/cert-manager/release-1.17/cert-manager-release-1.17.yaml
Due: post-testing-upload-testgrid-config

add label for tide squashes
  config/labels.yaml
Due: none

add erik to OWNERS file
  OWNERS
  OWNERS_ALIASES
Due: none

fix invalid color in new label
  config/labels.yaml
Due: none

introduce new test and verify targets, introduced by makefile modules PR
  config/jobs/cert-manager/csi-lib/cert-manager-csi-lib-presubmits.yaml
Due: post-testing-upload-testgrid-config

remove tests for cert-manager 1.12
  config/config.yaml
  config/jobs/cert-manager/cert-manager/release-1.12/cert-manager-release-1.12.yaml
  config/jobs/cert-manager/cert-manager/release-1.16/cert-manager-release-1.16.yaml
  config/jobs/cert-manager/cert-manager/release-1.17/cert-manager-release-1.17.yaml
  config/prowgen/pkg/generators.go
  config/prowgen/prowspecs/specs.go
  config/testgrid/dashboards.yaml
Due: post-testing-upload-testgrid-config

Add testgrid dashboard config
  config/testgrid/dashboards.yaml
Due: post-testing-upload-testgrid-config

Add prowgen specs
  config/prowgen/prowspecs/specs.go
Due: none

make prowgen
  config/jobs/cert-manager/cert-manager/release-1.18/cert-manager-release-1.18.yaml
Due: post-testing-upload-testgrid-config

Update the milestone applier plugin config
  config/plugins.yaml
Due: none

Add required status checks
  config/config.yaml
Due: none

Allow cert-manager 1.18 to be optionally tested with kubernetes: 1.33
  config/prowgen/prowspecs/specs.go
Due: none

Allow master to be optionally tested with Kubernetes 1.33
  config/prowgen/prowspecs/specs.go
Due: none

make prowgen
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
Due: post-testing-upload-testgrid-config

Make Kubernetes 1.33 the primary version for release-1.18 and master
  config/prowgen/prowspecs/specs.go
Due: none

make prowgen
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.18/cert-manager-release-1.18.yaml
Due: post-testing-upload-testgrid-config

Make Kubernetes 1.33 the primary cluster version for release-1.17 too
  config/prowgen/prowspecs/specs.go
Due: none

make prowgen
  config/jobs/cert-manager/cert-manager/release-1.17/cert-manager-release-1.17.yaml
Due: post-testing-upload-testgrid-config

make prowgen
  config/jobs/cert-manager/cert-manager/release-1.17/cert-manager-release-1.17.yaml
  config/jobs/cert-manager/cert-manager/release-1.18/cert-manager-release-1.18.yaml
Due: post-testing-upload-testgrid-config
