Repository cert-manager/testing: changes, and which Prow jobs are due for each by the changed paths.
All: post-testing-upload-testgrid-config, post-testing-push-gencred, post-testing-push-prow-controller-manager-spot, post-testing-push-make-dind, post-testing-push-golang-dind, post-testing-push-image-builder, post-testing-push-kind, aws-testing, post-testing-push-nix-dind

Path conditions:
  post-testing-upload-testgrid-config: any of: ^(config/jobs/.*\.yaml)|(config/testgrid/dashboards\.yaml)$
  post-testing-push-gencred: any of: ^images/gencred/
  post-testing-push-prow-controller-manager-spot: any of: ^images/prow-controller-manager-spot/
  post-testing-push-make-dind: any of: ^images/make-dind/
  post-testing-push-golang-dind: any of: ^images/golang-dind/
  post-testing-push-image-builder: any of: ^images/image-builder/
  post-testing-push-kind: any of: ^images/kind/
  aws-testing: any of: ^images/golang-aws/
  post-testing-push-nix-dind: any of: ^images/nix-dind/

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/config.yaml
  config/jobs/testing/testing-periodics-trusted.yaml
  config/jobs/testing/testing-postsubmits-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/gencred_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Due: post-testing-upload-testgrid-config

add the 'cybr' label
  config/labels.yaml
Due: none

Update prowgen specs for cert-manager release-1.19
  config/prowgen/prowspecs/specs.go
Due: none

make prowgen
  config/jobs/cert-manager/cert-manager/release-1.19/cert-manager-release-1.19.yaml
Due: post-testing-upload-testgrid-config

Update the milestone applier plugin config
  config/plugins.yaml
Due: none

Add testgrid dashboard config
  config/testgrid/dashboards.yaml
Due: post-testing-upload-testgrid-config

Add required status checks
  config/config.yaml
Due: none

Remove cert-manager release-1.17 jobs and refs
  config/config.yaml
  config/jobs/cert-manager/cert-manager/release-1.17/cert-manager-release-1.17.yaml
  config/jobs/cert-manager/cert-manager/release-1.18/cert-manager-release-1.18.yaml
  config/jobs/cert-manager/cert-manager/release-1.19/cert-manager-release-1.19.yaml
  config/prowgen/prowspecs/specs.go
  config/testgrid/dashboards.yaml
  prow/cert-manager_install.sh
Due: post-testing-upload-testgrid-config

remove k8s 1.31 from master testing
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/prowgen/prowspecs/specs.go
Due: post-testing-upload-testgrid-config

Add istio-csr testing of Istio 1.28
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
Due: post-testing-upload-testgrid-config

disable DCO for Copilot-authored PRs
  config/config.yaml
Due: none

Allow renovate[bot] to auto merge
  config/config.yaml
Due: none

Run trivy tests more often and improve reporting
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.18/cert-manager-release-1.18.yaml
  config/jobs/cert-manager/cert-manager/release-1.19/cert-manager-release-1.19.yaml
  config/prowgen/pkg/configurers.go
  config/prowgen/pkg/generators.go
  config/prowgen/prowspecs/specs.go
Due: post-testing-upload-testgrid-config

adding 1.35 test job
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/prowgen/prowspecs/specs.go
Due: post-testing-upload-testgrid-config

making 1.35 the default version
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/prowgen/prowspecs/specs.go
Due: post-testing-upload-testgrid-config

Update c-m required checks to K8s 1.35
  config/config.yaml
Due: none

drop separate licenses check on master
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.19/cert-manager-release-1.19.yaml
  config/prowgen/prowspecs/specs.go
Due: post-testing-upload-testgrid-config

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/config.yaml
  config/jobs/testing/testing-periodics-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Due: post-testing-upload-testgrid-config

create make-dind debian trixie image
  images/make-dind/build.yaml
Due: post-testing-push-make-dind

fix broken docker image for debian trixie
  images/make-dind/Dockerfile
Due: post-testing-push-make-dind

upgrade make-dind image to trixie
  config/jobs/cert-manager/approver-policy/cert-manager-approver-policy-presubmits.yaml
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.18/cert-manager-release-1.18.yaml
  config/jobs/cert-manager/cert-manager/release-1.19/cert-manager-release-1.19.yaml
  config/jobs/cert-manager/cmctl/cert-manager-cmctl.yaml
  config/jobs/cert-manager/csi-driver-spiffe/cert-manager-csi-driver-spiffe-presubmits.yaml
  config/jobs/cert-manager/csi-driver/cert-manager-csi-driver-presubmits.yaml
  config/jobs/cert-manager/csi-lib/cert-manager-csi-lib-presubmits.yaml
  config/jobs/cert-manager/helm-tool/cert-manager-helm-tool.yaml
  config/jobs/cert-manager/image-tool/cert-manager-image-tool.yaml
  config/jobs/cert-manager/issuer-lib/cert-manager-issuer-lib-presubmits.yaml
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-periodics.yaml
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
  config/jobs/cert-manager/openshift-routes/cert-manager-openshift-routes-presubmits.yaml
  config/jobs/cert-manager/trust-manager-csi-driver/trust-manager-csi-driver-presubmits.yaml
  config/jobs/cert-manager/trust-manager/trust-manager-presubmits.yaml
  config/jobs/cert-manager/webhook-cert-lib/cert-manager-webhook-cert-lib-presubmits.yaml
  config/prowgen/pkg/globals.go
  images/golang-dind/build.yaml
  images/nix-dind/build.yaml
Due: post-testing-upload-testgrid-config, post-testing-push-golang-dind, post-testing-push-nix-dind

upgrade golang-dind to 1.25.6
  images/golang-dind/build.yaml
Due: post-testing-push-golang-dind

upgrade go image to 1.25
  config/jobs/cert-manager/boilersuite/cert-manager-boilersuite.yaml
  config/jobs/cert-manager/go-pkcs12/go-pkcs12-presubmits.yaml
  config/jobs/cert-manager/org/org-presubmits.yaml
  config/jobs/cert-manager/release/cert-manager-release-presubmits.yaml
  config/jobs/cert-manager/webhook-example/cert-manager-webhook-example-presubmits.yaml
  config/jobs/testing/testing-postsubmits-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  images/gencred/build.yaml
  images/image-builder/build.yaml
  images/prow-controller-manager-spot/build.yaml
Due: post-testing-upload-testgrid-config, post-testing-push-gencred, post-testing-push-prow-controller-manager-spot, post-testing-push-image-builder

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  prow/cluster/gencred_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
Due: none

fix a few bugs in our docs & upgrade makefiles
  Makefile
  images/README.md
  prow/Makefile
Due: none

enable tests for k8s 1.35 on cert-manager 1.19.x
  config/jobs/cert-manager/cert-manager/release-1.19/cert-manager-release-1.19.yaml
  config/prowgen/prowspecs/specs.go
Due: post-testing-upload-testgrid-config

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/config.yaml
  config/jobs/testing/testing-periodics-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/gencred_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Due: post-testing-upload-testgrid-config

Bump tested Istio version
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
Due: post-testing-upload-testgrid-config

fix names of required status checks
  config/config.yaml
Due: none
