Repository cert-manager/testing: changes, and which Prow jobs are due for each by the changed paths.
All: post-testing-upload-testgrid-config, post-testing-push-gencred, post-testing-push-prow-controller-manager-spot, post-testing-push-make-dind, post-testing-push-golang-dind, post-testing-push-image-builder, post-testing-push-kind, aws-testing, post-testing-push-nix-dind

post-testing-upload-testgrid-config:
  decorate: true
  spec:
    serviceAccountName: testgrid-updater
    containers:
    - image: gcr.io/k8s-staging-test-infra/configurator:v20250306-095fc63a16
      command:
      - configurator
      args:
      - --yaml=config/testgrid/dashboards.yaml
      - --default=config/testgrid/default.yaml
  ...

post-testing-push-gencred:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

post-testing-push-prow-controller-manager-spot:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

post-testing-push-make-dind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

post-testing-push-golang-dind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

post-testing-push-image-builder:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

post-testing-push-kind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
  spec:
    containers:
    - image: europe-west1-docker.pkg.dev/cert-manager-tests-trusted/cert-manager-infra-images/golang-dind:20240422-729441b-1.22
      args:
      - runner
      - images/kind/build.sh
  ...

aws-testing:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

post-testing-push-nix-dind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

post beta release 1.20 cm
  config/config.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/plugins.yaml
  config/prowgen/prowspecs/specs.go
  config/testgrid/dashboards.yaml
Due: post-testing-upload-testgrid-config

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/config.yaml
  config/jobs/testing/testing-periodics-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/gencred_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Due: post-testing-upload-testgrid-config

Clean out unsupported cm 1.18
  config/config.yaml
  config/jobs/cert-manager/cert-manager/release-1.18/cert-manager-release-1.18.yaml
  config/jobs/cert-manager/cert-manager/release-1.19/cert-manager-release-1.19.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/prowgen/prowspecs/specs.go
  config/testgrid/dashboards.yaml
  prow/cert-manager_install.sh
Due: post-testing-upload-testgrid-config

docs: fix typo succesfully -> successfully in README
  images/README.md
Due: none

Add Venafi NGTS e2e job and credentials preset
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.19/cert-manager-release-1.19.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/jobs/cert-manager/config.yaml
  config/prowgen/pkg/configurers.go
  config/prowgen/pkg/generators.go
  config/prowgen/prowspecs/specs.go
Due: post-testing-upload-testgrid-config

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/config.yaml
  config/jobs/testing/testing-periodics-trusted.yaml
  config/jobs/testing/testing-postsubmits-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/gencred_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Due: post-testing-upload-testgrid-config

use upstream prow-controller-manager image instead of custom-built image
  config/jobs/testing/testing-postsubmits-trusted.yaml
  images/prow-controller-manager-spot/Dockerfile
  images/prow-controller-manager-spot/README.md
  images/prow-controller-manager-spot/build.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
Due: post-testing-upload-testgrid-config, post-testing-push-prow-controller-manager-spot

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  prow/cluster/gencred_deployment.yaml
Due: none

use workload identity instead of gencred
  prow/cluster/crier_deployment.yaml
  prow/cluster/crier_rbac.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_rbac.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/hook_rbac.yaml
  prow/cluster/kubeconfig-prow-trusted_configmap.yaml
  prow/cluster/kubeconfig-prow-untrusted_configmap.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/prow_controller_manager_rbac.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/sinker_rbac.yaml
  prow/test-pods/test-pods-resources.yaml
Due: none

delete gencred
  config/gencred-config/gencred-config.yaml
  config/jobs/testing/testing-postsubmits-trusted.yaml
  config/plugins.yaml
  images/gencred/Dockerfile
  images/gencred/README.md
  images/gencred/build.yaml
  images/gencred/go.mod
  images/gencred/go.sum
  images/gencred/main.go
  images/gencred/main_test.go
  prow/cluster/gencred_deployment.yaml
  prow/cluster/gencred_rbac.yaml
Due: post-testing-upload-testgrid-config, post-testing-push-gencred

add logic to Makefile
  prow/Makefile
Due: none

use DNS to access k8s clusters
  prow/cluster/kubeconfig-prow-trusted_configmap.yaml
  prow/cluster/kubeconfig-prow-untrusted_configmap.yaml
Due: none

update prow Makefile
  prow/Makefile
Due: none

use workload identity to access gcs
  config/config.yaml
  prow/Makefile
  prow/cluster/crier_deployment.yaml
  prow/test-pods/00_namespace.yaml
  prow/test-pods/01_control_plane_rbac.yaml
  prow/test-pods/trusted_cluster/02_prowjob_sa.yaml
  prow/test-pods/untrusted_cluster/02_prowjob_sa.yaml
  prow/trusted_cluster/testgrid-updater-sa.yaml
Due: none

add missing crier cluster RBAC
  prow/test-pods/01_control_plane_rbac.yaml
Due: none

start using image-builder service account
  config/jobs/testing/testing-postsubmits-trusted.yaml
  images/image-builder-script/builder.sh
  images/kind/build.sh
  prow/Makefile
  prow/test-pods/trusted_cluster/02_prowjob_sa.yaml
Due: post-testing-upload-testgrid-config, post-testing-push-kind

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/config.yaml
  config/jobs/testing/testing-periodics-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Due: post-testing-upload-testgrid-config

add golang 1.26 image
  images/golang-dind/build.yaml
Due: post-testing-push-golang-dind

remove old deployer service account
  config/jobs/testing/testing-postsubmits-trusted.yaml
  config/jobs/testing/testing-presets-trusted.yaml
Due: post-testing-upload-testgrid-config

upgrade from go 1.25 to 1.26
  config/jobs/cert-manager/boilersuite/cert-manager-boilersuite.yaml
  config/jobs/cert-manager/go-pkcs12/go-pkcs12-presubmits.yaml
  config/jobs/cert-manager/org/org-presubmits.yaml
  config/jobs/cert-manager/release/cert-manager-release-presubmits.yaml
  config/jobs/cert-manager/webhook-example/cert-manager-webhook-example-presubmits.yaml
  config/jobs/testing/testing-postsubmits-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  images/image-builder/build.yaml
Due: post-testing-upload-testgrid-config, post-testing-push-image-builder

add build-% targets
  Makefile
Due: none

fix builder image
  images/image-builder/Dockerfile
  images/image-builder/build.yaml
Due: post-testing-push-image-builder

improve builder script
  images/image-builder-script/builder.sh
  images/image-builder-script/go.mod
  images/image-builder-script/main.go
Due: none

update builder images
  config/jobs/testing/testing-postsubmits-trusted.yaml
Due: post-testing-upload-testgrid-config

download latest prowjob crd
  prow/cluster/prowjob-crd/prowjob_customresourcedefinition.yaml
Due: none

add watchdog to runner
  images/make-dind/Dockerfile
  images/make-dind/runner
Due: post-testing-push-make-dind

add watchdog to runner and add runner tests
  images/make-dind/runner
  images/make-dind/runner_test.sh
Due: post-testing-push-make-dind

update makde-dind image
  config/jobs/cert-manager/approver-policy/cert-manager-approver-policy-presubmits.yaml
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.19/cert-manager-release-1.19.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/jobs/cert-manager/cmctl/cert-manager-cmctl.yaml
  config/jobs/cert-manager/csi-driver-spiffe/cert-manager-csi-driver-spiffe-presubmits.yaml
  config/jobs/cert-manager/csi-driver/cert-manager-csi-driver-presubmits.yaml
  config/jobs/cert-manager/csi-lib/cert-manager-csi-lib-presubmits.yaml
  config/jobs/cert-manager/helm-tool/cert-manager-helm-tool.yaml
  config/jobs/cert-manager/image-tool/cert-manager-image-tool.yaml
  config/jobs/cert-manager/issuer-lib/cert-manager-issuer-lib-presubmits.yaml
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-periodics.yaml
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
  config/jobs/cert-manager/openshift-routes/cert-manager-openshift-routes-presubmits.yaml
  config/jobs/cert-manager/trust-manager-csi-driver/trust-manager-csi-driver-presubmits.yaml
  config/jobs/cert-manager/trust-manager/trust-manager-presubmits.yaml
  config/jobs/cert-manager/webhook-cert-lib/cert-manager-webhook-cert-lib-presubmits.yaml
  config/prowgen/pkg/globals.go
  images/golang-dind/build.yaml
  images/nix-dind/build.yaml
Due: post-testing-upload-testgrid-config, post-testing-push-golang-dind, post-testing-push-nix-dind

fix test output streaming
  images/make-dind/Dockerfile
  images/make-dind/runner
  images/make-dind/runner_test.sh
Due: post-testing-push-make-dind

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/jobs/cert-manager/approver-policy/cert-manager-approver-policy-presubmits.yaml
  config/jobs/cert-manager/boilersuite/cert-manager-boilersuite.yaml
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.19/cert-manager-release-1.19.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/jobs/cert-manager/cmctl/cert-manager-cmctl.yaml
  config/jobs/cert-manager/csi-driver-spiffe/cert-manager-csi-driver-spiffe-presubmits.yaml
  config/jobs/cert-manager/csi-driver/cert-manager-csi-driver-presubmits.yaml
  config/jobs/cert-manager/csi-lib/cert-manager-csi-lib-presubmits.yaml
  config/jobs/cert-manager/go-pkcs12/go-pkcs12-presubmits.yaml
  config/jobs/cert-manager/helm-tool/cert-manager-helm-tool.yaml
  config/jobs/cert-manager/image-tool/cert-manager-image-tool.yaml
  config/jobs/cert-manager/issuer-lib/cert-manager-issuer-lib-presubmits.yaml
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-periodics.yaml
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
  config/jobs/cert-manager/openshift-routes/cert-manager-openshift-routes-presubmits.yaml
  config/jobs/cert-manager/org/org-presubmits.yaml
  config/jobs/cert-manager/release/cert-manager-release-presubmits.yaml
  config/jobs/cert-manager/trust-manager-csi-driver/trust-manager-csi-driver-presubmits.yaml
  config/jobs/cert-manager/trust-manager/trust-manager-presubmits.yaml
  config/jobs/cert-manager/webhook-cert-lib/cert-manager-webhook-cert-lib-presubmits.yaml
  config/jobs/cert-manager/webhook-example/cert-manager-webhook-example-presubmits.yaml
  config/jobs/testing/testing-postsubmits-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  config/prowgen/pkg/globals.go
  images/golang-dind/build.yaml
  images/image-builder/build.yaml
  images/nix-dind/build.yaml
Due: post-testing-upload-testgrid-config, post-testing-push-golang-dind, post-testing-push-image-builder, post-testing-push-nix-dind

Bump tested Istio version
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
Due: post-testing-upload-testgrid-config

kill processes that are left over
  images/make-dind/runner
  images/make-dind/runner_test.sh
Due: post-testing-push-make-dind

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/jobs/cert-manager/boilersuite/cert-manager-boilersuite.yaml
  config/jobs/cert-manager/go-pkcs12/go-pkcs12-presubmits.yaml
  config/jobs/cert-manager/org/org-presubmits.yaml
  config/jobs/cert-manager/release/cert-manager-release-presubmits.yaml
  config/jobs/cert-manager/webhook-example/cert-manager-webhook-example-presubmits.yaml
  config/jobs/testing/testing-postsubmits-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  images/image-builder/build.yaml
Due: post-testing-upload-testgrid-config, post-testing-push-image-builder

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/jobs/testing/testing-postsubmits-trusted.yaml
Due: post-testing-upload-testgrid-config

Add NGTS credentials to periodic Venafi E2E job
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.19/cert-manager-release-1.19.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/prowgen/pkg/configurers.go
  config/prowgen/pkg/generators.go
Due: post-testing-upload-testgrid-config

VC-53836: Add SHA-256 verification to CI image builds and remove unused images
  Makefile
  README.md
  config/jobs/testing/testing-postsubmits-trusted.yaml
  images/golang-aws/Dockerfile
  images/golang-aws/build.yaml
  images/golang-dind/Dockerfile
  images/golang-dind/build.yaml
  images/image-builder-script/builder.sh
  images/nix-dind/Dockerfile
  images/nix-dind/build.yaml
Due: post-testing-upload-testgrid-config, post-testing-push-golang-dind, aws-testing, post-testing-push-nix-dind

adding 1.36 jobs for testing
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/prowgen/prowspecs/specs.go
Due: post-testing-upload-testgrid-config

Make K8s 1.36 the primary version
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/prowgen/prowspecs/specs.go
Due: post-testing-upload-testgrid-config

Path conditions:
  post-testing-upload-testgrid-config: any of: ^(config/jobs/.*\.yaml)|(config/testgrid/dashboards\.yaml)$
  post-testing-push-gencred: any of: ^images/gencred/
  post-testing-push-prow-controller-manager-spot: any of: ^images/prow-controller-manager-spot/
  post-testing-push-make-dind: any of: ^images/make-dind/
  post-testing-push-golang-dind: any of: ^images/golang-dind/
  post-testing-push-image-builder: any of: ^images/image-builder/
  post-testing-push-kind: any of: ^images/kind/
  aws-testing: any of: ^images/golang-aws/
  post-testing-push-nix-dind: any of: ^images/nix-dind/
