Repository cert-manager/testing: changes, and which Prow jobs are due for each by the changed paths.
All: post-testing-upload-testgrid-config, post-testing-push-gencred, post-testing-push-prow-controller-manager-spot, post-testing-push-make-dind, post-testing-push-golang-dind, post-testing-push-image-builder, post-testing-push-kind, aws-testing, post-testing-push-nix-dind

post-testing-upload-testgrid-config:
  decorate: true
  spec:
    serviceAccountName: testgrid-updater
    containers:
    - image: gcr.io/k8s-staging-test-infra/configurator:v20250306-095fc63a16
      command:
      - configurator
      args:
      - --yaml=config/testgrid/dashboards.yaml
      - --default=config/testgrid/default.yaml
  ...

post-testing-push-gencred:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

post-testing-push-prow-controller-manager-spot:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

post-testing-push-make-dind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

post-testing-push-golang-dind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

post-testing-push-image-builder:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

post-testing-push-kind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
  spec:
    containers:
    - image: europe-west1-docker.pkg.dev/cert-manager-tests-trusted/cert-manager-infra-images/golang-dind:20240422-729441b-1.22
      args:
      - runner
      - images/kind/build.sh
  ...

aws-testing:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

post-testing-push-nix-dind:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-deployer-service-account: 'true'
    preset-deployer-github-token: 'true'
    preset-deployer-ssh-key: 'true'
  spec:
    containers:
  ...

Adding hjoshi123 as a cm maintainer
  OWNERS_ALIASES
Due: none

Fix cert-manager master required checks
  config/config.yaml
Due: none

Migrate to maintained Go YAML
  config/prowgen/go.mod
  config/prowgen/go.sum
  config/prowgen/main.go
  images/image-builder-script/go.mod
  images/image-builder-script/go.sum
  images/image-builder-script/main.go
Due: none

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/config.yaml
  config/jobs/cert-manager/boilersuite/cert-manager-boilersuite.yaml
  config/jobs/cert-manager/go-pkcs12/go-pkcs12-presubmits.yaml
  config/jobs/cert-manager/org/org-presubmits.yaml
  config/jobs/cert-manager/release/cert-manager-release-presubmits.yaml
  config/jobs/cert-manager/webhook-example/cert-manager-webhook-example-presubmits.yaml
  config/jobs/testing/testing-periodics-trusted.yaml
  config/jobs/testing/testing-postsubmits-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  images/image-builder/build.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Due: post-testing-upload-testgrid-config, post-testing-push-image-builder

security: exclude CI/CD trust-boundary repos from skip-review Tide queries
  config/config.yaml
Due: none

Add release-1.21 periodic ProwJobs, testgrid dashboard and milestones
  config/config.yaml
  config/jobs/cert-manager/cert-manager/release-1.21/cert-manager-release-1.21.yaml
  config/plugins.yaml
  config/prowgen/prowspecs/specs.go
  config/testgrid/dashboards.yaml
Due: post-testing-upload-testgrid-config

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/config.yaml
  config/jobs/testing/testing-periodics-trusted.yaml
  config/jobs/testing/testing-postsubmits-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Due: post-testing-upload-testgrid-config

Remove cert-manager release-1.19 testing configuration
  config/config.yaml
  config/jobs/cert-manager/cert-manager/release-1.19/cert-manager-release-1.19.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/jobs/cert-manager/cert-manager/release-1.21/cert-manager-release-1.21.yaml
  config/prowgen/prowspecs/specs.go
  config/testgrid/dashboards.yaml
  prow/cert-manager_install.sh
Due: post-testing-upload-testgrid-config

Document how to manually rerun periodic Prow jobs
  Makefile
  prow/README.md
  prow/periodic-jobs.sh
Due: none

Remove unused Cloudflare e2e credentials
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/jobs/cert-manager/cert-manager/release-1.21/cert-manager-release-1.21.yaml
  config/jobs/cert-manager/config.yaml
  config/prowgen/pkg/configurers.go
  config/prowgen/pkg/generators.go
Due: post-testing-upload-testgrid-config

Bumping k8s-infra-prow images and k8s-staging-test-infra images and cert-manager-infra-images images and quay.io/jetstack/base-static image
  config/config.yaml
  config/jobs/testing/testing-periodics-trusted.yaml
  config/jobs/testing/testing-presubmits.yaml
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
Due: post-testing-upload-testgrid-config

make prowgen
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.19/cert-manager-release-1.19.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
Due: post-testing-upload-testgrid-config

make prowgen
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/jobs/cert-manager/cert-manager/release-1.21/cert-manager-release-1.21.yaml
Due: post-testing-upload-testgrid-config

Remove the per-issuer Venafi presubmits
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/jobs/cert-manager/cert-manager/release-1.21/cert-manager-release-1.21.yaml
  config/jobs/cert-manager/config.yaml
  config/prowgen/pkg/configurers.go
  config/prowgen/pkg/generators.go
  config/prowgen/prowspecs/specs.go
Due: post-testing-upload-testgrid-config

Censor secrets from Prow job logs and artifacts
  config/config.yaml
Due: none

Strip credential presets from presubmit jobs
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/jobs/cert-manager/cert-manager/release-1.21/cert-manager-release-1.21.yaml
  config/prowgen/pkg/context.go
  config/prowgen/pkg/context_test.go
Due: post-testing-upload-testgrid-config

Mount Venafi secrets as volumes so censoring redacts them
  config/config.yaml
  config/jobs/cert-manager/config.yaml
Due: post-testing-upload-testgrid-config

Add repo-wide test forbidding secret presets on presubmits
  config/prowgen/presubmit_policy_test.go
Due: none

Panic when a generator adds a credential preset to a presubmit
  config/prowgen/pkg/context.go
  config/prowgen/pkg/context_test.go
Due: none

Trim historical comments about the removed Venafi presubmits
  config/prowgen/pkg/configurers.go
  config/prowgen/prowspecs/specs.go
Due: none

Add license boilerplate to presubmit_policy_test.go
  config/prowgen/presubmit_policy_test.go
Due: none

Pin credentialed periodics to the dedicated node pool
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/jobs/cert-manager/cert-manager/release-1.21/cert-manager-release-1.21.yaml
  config/prowgen/pkg/context.go
  config/prowgen/pkg/context_test.go
  config/prowgen/pkg/types.go
  config/prowgen/presubmit_policy_test.go
Due: post-testing-upload-testgrid-config

Add presubmit job for community Prow Peribolos dry-run
  config/jobs/cert-manager/community/cert-manager-community.yaml
Due: post-testing-upload-testgrid-config

Raise memory requests so two heavy jobs cannot share a node
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/jobs/cert-manager/cert-manager/release-1.21/cert-manager-release-1.21.yaml
  config/prowgen/pkg/generators.go
  config/prowgen/prowspecs/specs.go
Due: post-testing-upload-testgrid-config

Set memory limits equal to requests for generated Prow jobs
  config/jobs/cert-manager/approver-policy/cert-manager-approver-policy-presubmits.yaml
  config/jobs/cert-manager/cert-manager/master/cert-manager-master.yaml
  config/jobs/cert-manager/cert-manager/release-1.20/cert-manager-release-1.20.yaml
  config/jobs/cert-manager/cert-manager/release-1.21/cert-manager-release-1.21.yaml
  config/jobs/cert-manager/cmctl/cert-manager-cmctl.yaml
  config/jobs/cert-manager/csi-driver-spiffe/cert-manager-csi-driver-spiffe-presubmits.yaml
  config/jobs/cert-manager/csi-driver/cert-manager-csi-driver-presubmits.yaml
  config/jobs/cert-manager/csi-lib/cert-manager-csi-lib-presubmits.yaml
  config/jobs/cert-manager/helm-tool/cert-manager-helm-tool.yaml
  config/jobs/cert-manager/image-tool/cert-manager-image-tool.yaml
  config/jobs/cert-manager/issuer-lib/cert-manager-issuer-lib-presubmits.yaml
  config/jobs/cert-manager/istio-csr/cert-manager-istio-csr-presubmits.yaml
  config/jobs/cert-manager/openshift-routes/cert-manager-openshift-routes-presubmits.yaml
  config/jobs/cert-manager/trust-manager-csi-driver/trust-manager-csi-driver-presubmits.yaml
  config/jobs/cert-manager/trust-manager/trust-manager-presubmits.yaml
  config/jobs/cert-manager/vault-issuer/cert-manager-vault-issuer-presubmits.yaml
  config/jobs/cert-manager/webhook-cert-lib/cert-manager-webhook-cert-lib-presubmits.yaml
  config/prowgen/pkg/generators.go
  config/prowgen/pkg/types.go
  config/prowgen/prowspecs/specs.go
  config/prowgen/prowspecs/specs_test.go
Due: post-testing-upload-testgrid-config

Path conditions:
  post-testing-upload-testgrid-config: any of: ^(config/jobs/.*\.yaml)|(config/testgrid/dashboards\.yaml)$
  post-testing-push-gencred: any of: ^images/gencred/
  post-testing-push-prow-controller-manager-spot: any of: ^images/prow-controller-manager-spot/
  post-testing-push-make-dind: any of: ^images/make-dind/
  post-testing-push-golang-dind: any of: ^images/golang-dind/
  post-testing-push-image-builder: any of: ^images/image-builder/
  post-testing-push-kind: any of: ^images/kind/
  aws-testing: any of: ^images/golang-aws/
  post-testing-push-nix-dind: any of: ^images/nix-dind/
