Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$

Release 0.6.0
  README.md
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Release 0.7.0-alpha1
  docs/conf.py
Due: none

Revert "Upgrade UPX to 3.95"
  Makefile
Due: none

Release 0.6.1
  CHANGELOG.md
  README.md
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Fix change log entry
  CHANGELOG.md
Due: none

Change terraform folder
  Gopkg.toml
Due: none

Vendor fix for Terraform
  Gopkg.lock
  vendor/github.com/hashicorp/terraform/terraform/eval_diff.go
Due: none

Fix vault bugs for upgrade from Tarmak 0.5.4
  puppet/modules/aws_ebs/manifests/mount.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/tarmak/manifests/vault.pp
Due: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Change the depends_on to the resource
  terraform/amazon/templates/vault_instances.tf.template
Due: none

Change injection of region
  puppet/hieradata/common.yaml
  puppet/modules/consul/manifests/init.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fix for filesystem type
  puppet/modules/aws_ebs/templates/ensure-volume-formatted.service.erb
  puppet/modules/aws_ebs/templates/ensure_volume_formatted.sh.erb
Due: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Change to single quotes
  puppet/modules/tarmak/manifests/vault.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Change injection of region
  puppet/hieradata/common.yaml
Due: none

Detect previous datacenter setting for consul
  puppet/modules/consul/files/consul-detect-existing-datacenter.sh
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/templates/consul.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Support ext4 and xfs for formatting empty filesystems
  puppet/modules/aws_ebs/manifests/mount.pp
  puppet/modules/aws_ebs/templates/ensure-volume-formatted.service.erb
  puppet/modules/aws_ebs/templates/ensure_volume_formatted.sh.erb
Due: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Autodetect filesystem instead of hardocding them
  puppet/modules/aws_ebs/spec/defines/mount_spec.rb
  puppet/modules/aws_ebs/templates/volume.mount.erb
Due: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Release 0.6.2-rc1
  README.md
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Replace EnsureDirectoryExists by os.MkdirAll
  pkg/puppet/puppet.go
  pkg/tarmak/config/config.go
  pkg/tarmak/environment/environment.go
  pkg/tarmak/kubectl/kubectl.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/utils/files.go
  pkg/tarmak/vault/vault.go
  pkg/terraform/templating.go
  pkg/terraform/terraform.go
Due: none

Backport fixes from network into network-existing-vpc
  terraform/amazon/modules/network-existing-vpc/outputs.tf
Due: none

Improve usability of existing VPC for testing
  docs/existing-vpc.rst
  docs/existing-vpc/vpc.tf
Due: none

Ensure known hosts path is the same as ssh_config
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/tarmak.go
Due: none

Don't close closed channel in tunnel
  pkg/tarmak/ssh/tunnel.go
Due: none

Release 0.6.2-rc2
  README.md
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Release 0.6.2
  README.md
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add versions overview
  CHANGELOG.md
Due: none
