Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$

Enable exporting access of ELBs to S3
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/tarmak/cluster/cluster.go
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/role_elb.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Adds enable elb access logs docs
  docs/user-guide.rst
Due: none

Adds defaults to elb access logs terraform inputs
  terraform/amazon/templates/inputs.tf.template
Due: none

Fix offline vault spec tests
  puppet/modules/tarmak/manifests/vault.pp
  puppet/modules/vault_server/manifests/init.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Initiate consul and vault_server classes with required files
  puppet/modules/consul/manifests/init.pp
  puppet/modules/tarmak/manifests/vault.pp
  puppet/modules/vault_server/Makefile
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/install.pp
  puppet/modules/vault_server/spec/acceptance/nodesets/default.yml
  puppet/modules/vault_server/spec/acceptance/nodesets/ubuntu_1604_single_node.yml
  puppet/modules/vault_server/spec/acceptance/single_node_spec.rb
  puppet/modules/vault_server/spec/spec_helper.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Ensure acceptance test runs
  puppet/modules/vault_server/spec/acceptance/single_node_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds vault_server puppet module
  puppet/modules/tarmak/.fixtures.yml
  puppet/modules/tarmak/.fixtures.yml.local
  puppet/modules/tarmak/manifests/vault.pp
  puppet/modules/tarmak/spec/classes/vault_spec.rb
  puppet/modules/vault_server/.fixtures.yml
  puppet/modules/vault_server/.fixtures.yml.local
  puppet/modules/vault_server/.gitignore
  puppet/modules/vault_server/Gemfile
  puppet/modules/vault_server/Gemfile.lock
  puppet/modules/vault_server/Makefile
  puppet/modules/vault_server/Rakefile
  puppet/modules/vault_server/files/download-vault-unsealer.sh
  puppet/modules/vault_server/files/vault.sh
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/install.pp
  puppet/modules/vault_server/manifests/params.pp
  puppet/modules/vault_server/manifests/service.pp
  puppet/modules/vault_server/spec/acceptance/nodesets/default.yml
  puppet/modules/vault_server/spec/acceptance/nodesets/ubuntu_1604_single_node.yml
  puppet/modules/vault_server/spec/acceptance/single_node_spec.rb
  puppet/modules/vault_server/spec/classes/init_spec.rb
  puppet/modules/vault_server/spec/classes/install_spec.rb
  puppet/modules/vault_server/spec/classes/service_spec.rb
  puppet/modules/vault_server/spec/spec_helper.rb
  puppet/modules/vault_server/spec/spec_helper_acceptance.rb
  puppet/modules/vault_server/templates/config.erb
  puppet/modules/vault_server/templates/vault-assets.service.erb
  puppet/modules/vault_server/templates/vault-unsealer.service.erb
  puppet/modules/vault_server/templates/vault.hcl.erb
  puppet/modules/vault_server/templates/vault.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fix tarmak puppet module test
  puppet/modules/tarmak/manifests/vault.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Ensure vault init during acceptance tests - now passing
  puppet/modules/vault_server/files/vault-init.sh
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/service.pp
  puppet/modules/vault_server/spec/acceptance/single_node_spec.rb
  puppet/modules/vault_server/templates/vault-assets.service.erb
  puppet/modules/vault_server/templates/vault-init.service.erb
  puppet/modules/vault_server/templates/vault-unsealer.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Pass three node vault_server acceptance test
  puppet/modules/vault_server/Makefile
  puppet/modules/vault_server/files/vault-init.sh
  puppet/modules/vault_server/manifests/service.pp
  puppet/modules/vault_server/templates/vault-init.service.erb
  puppet/modules/vault_server/templates/vault.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds mount cloud provider fact check and tests for vault mount
  puppet/modules/tarmak/manifests/vault.pp
  puppet/modules/vault_server/spec/classes/init_spec.rb
  puppet/modules/vault_server/spec/spec_helper.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds updated vault-unsealer
  puppet/modules/vault_server/files/download-vault-unsealer.sh
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/params.pp
  puppet/modules/vault_server/manifests/service.pp
  puppet/modules/vault_server/spec/acceptance/single_node_spec.rb
  puppet/modules/vault_server/templates/vault-unsealer.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Attempt to create a 3 node vault cluster
  puppet/modules/consul/spec/acceptance/nodesets/default.yml
  puppet/modules/vault_server/Makefile
  puppet/modules/vault_server/files/vault-init.sh
  puppet/modules/vault_server/manifests/service.pp
  puppet/modules/vault_server/spec/acceptance/nodesets/3n-cluster.yml
  puppet/modules/vault_server/spec/acceptance/three_nodes_spec.rb
  puppet/modules/vault_server/spec/classes/service_spec.rb
  puppet/modules/vault_server/spec/spec_helper_acceptance.rb
  puppet/modules/vault_server/templates/vault-init.service.erb
  puppet/modules/vault_server/templates/vault.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds review changes
  puppet/modules/consul/manifests/init.pp
  puppet/modules/tarmak/manifests/single_node.pp
  puppet/modules/vault_server/.fixtures.yml
  puppet/modules/vault_server/.fixtures.yml.local
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/spec/acceptance/single_node_spec.rb
  puppet/modules/vault_server/spec/acceptance/three_nodes_spec.rb
  puppet/modules/vault_server/spec/classes/init_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Use templating for terraform ELB access logs existence
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/role/role.go
  terraform/amazon/templates/instance_pools/role_elb.tf.template
Due: none

Assign defaults and validations to ELB access logs
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cluster/v1alpha1/zz_generated.defaults.go
  pkg/apis/tarmak/v1alpha1/zz_generated.defaults.go
  pkg/tarmak/cluster/cluster.go
Due: none

Adds docs from defaults in elb access logs
  docs/user-guide.rst
Due: none

Update vendor
  Gopkg.lock
Due: none

Download backinator binary in consul puppet module
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/params.pp
  puppet/modules/consul/spec/classes/install_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Add Terraform version check
  pkg/tarmak/terraform.go
Due: none

Adds spot-pricing flag for quick best effort calculation
  cmd/tarmak/cmd/cluster.go
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/tarmak/instance_pool/instance_pool.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/spot_price.go
  pkg/tarmak/terraform.go
Due: none

Adds Spot Instance use in docs
  docs/user-guide.rst
  pkg/tarmak/instance_pool/instance_pool.go
  pkg/tarmak/provider/amazon/spot_price.go
Due: none

Change threshold to greater than or equal to
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/vault_instances.tf.template
Due: none

Validate hub cluster contains all zones of multi-cluster
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/cluster/cluster_test.go
Due: none

Exposes -scale-down-utilization-threshold in tarmak.yaml
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/puppet/puppet.go
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Mentions new flag in docs
  docs/user-guide.rst
Due: none

Adds review changes
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cluster/v1alpha1/zz_generated.defaults.go
  pkg/apis/tarmak/v1alpha1/zz_generated.defaults.go
  pkg/puppet/puppet.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Separate backinator binary from consul path
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/spec/classes/install_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Upgrade calico to 3.1.3
  CHANGELOG.md
  puppet/modules/calico/manifests/node.pp
  puppet/modules/calico/manifests/policy_controller.pp
  puppet/modules/calico/templates/node-daemonset.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Restart Consul on failure
  puppet/modules/consul/templates/consul.service.erb
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds review changes
  pkg/puppet/puppet.go
  puppet/modules/kubernetes_addons/manifests/cluster_autoscaler.pp
  puppet/modules/kubernetes_addons/templates/cluster-autoscaler-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Removes complaints about ECC
  docs/proposals/spiffe-spire-integration.rst
Due: none

Adds suggested re-review
  docs/proposals/spiffe-spire-integration.rst
Due: none

Adds spiffe/spire proposal/testing results
  docs/proposals/spiffe-spire-integration.rst
  docs/spelling_wordlist.txt
Due: none

Introduces a stopCh to propagate signals to terraform
  cmd/tarmak/cmd/cluster_apply.go
  cmd/tarmak/cmd/cluster_debug_terraform_shell.go
  cmd/tarmak/cmd/cluster_destroy.go
  cmd/tarmak/cmd/cluster_plan.go
  cmd/tarmak/cmd/terraform.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/terraform.go
  pkg/tarmak/utils/context.go
  pkg/terraform/passthrough.go
  pkg/terraform/terraform.go
Due: none

Pass interrupt signal to terraform cmd
  pkg/terraform/terraform.go
Due: none

Adds basic signal handler to terraform pass through commands
  cmd/tarmak/cmd/terraform.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/tf_remote_state.go
  pkg/terraform/terraform.go
Due: none

Propagate context to be used to interrupt
  cmd/tarmak/cmd/cluster_apply.go
  cmd/tarmak/cmd/cluster_debug_terraform_shell.go
  cmd/tarmak/cmd/cluster_destroy.go
  cmd/tarmak/cmd/cluster_images_build.go
  cmd/tarmak/cmd/cluster_plan.go
  pkg/docker/app_container.go
  pkg/packer/image.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/tf_remote_state.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/terraform.go
  pkg/tarmak/utils/context.go
  pkg/terraform/terraform.go
Due: none

Fixes environment plan return error
  pkg/tarmak/terraform.go
Due: none

Further Rename all custom Context to CancellationContext
  cmd/tarmak/cmd/cluster_apply.go
  cmd/tarmak/cmd/cluster_destroy.go
  cmd/tarmak/cmd/cluster_images_build.go
  cmd/tarmak/cmd/cluster_plan.go
  pkg/packer/packer.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/terraform.go
  pkg/terraform/terraform.go
Due: none
