Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

Adds wait-for-convergence to cli docs
  docs/generated/cmd/tarmak/tarmak_clusters_apply.rst
  pkg/terraform/terraform.go
Due: none

Only converge when there has been changes
  pkg/tarmak/cmd.go
  pkg/terraform/terraform.go
Due: none

Adds wait for convergence flag
  cmd/tarmak/cmd/cluster.go
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/tarmak/cmd.go
Due: none

Uses variable when returning
  pkg/terraform/terraform.go
Due: none

Only converge on wing when not in infrastructure only
  pkg/tarmak/cmd.go
Due: none

Fix wait for convergence api json header
  pkg/apis/tarmak/v1alpha1/types.go
Due: none

Assume apply will change to default waiting for convergence
  pkg/tarmak/cmd.go
Due: none

Adds escape new line to kubelet service
  puppet/modules/kubernetes/templates/kubelet.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fix tarmak init behaviour-1.panic when ~/.tarmak/ empty -2.set hub to default on new multicluster
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/tarmak.go
Due: none

Remove verifyInstanceTypes check as this is duplicates PR559
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Improvements in response to code review
  pkg/tarmak/tarmak.go
Due: none

Upgrade prometheus
  puppet/modules/kubernetes_addons/manifests/metrics_server.pp
  puppet/modules/kubernetes_addons/manifests/params.pp
  puppet/modules/prometheus/Makefile
  puppet/modules/prometheus/README.md
  puppet/modules/prometheus/manifests/kube_state_metrics.pp
  puppet/modules/prometheus/manifests/server.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Upgrade Calico to 3.1.4
  CHANGELOG.md
  puppet/modules/calico/manifests/node.pp
  puppet/modules/calico/manifests/policy_controller.pp
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Upgrade etcd to 3.2.25
  CHANGELOG.md
  puppet/modules/etcd/manifests/params.pp
  puppet/modules/etcd/spec/acceptance/single_node_spec.rb
  puppet/modules/etcd/spec/acceptance/three_node_spec.rb
  puppet/modules/kubernetes/files/etcd.service
  puppet/modules/tarmak/README.md
  puppet/modules/tarmak/manifests/init.pp
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds backoff to describe reserved instance offerings
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/utils/consts/consts.go
Due: none

Make use of awserr package for rate limits
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Stop hub destroy returning error
  terraform/amazon/modules/network/outputs.tf
  terraform/amazon/modules/state/outputs.tf
  terraform/amazon/modules/vault/inputs.tf
  terraform/amazon/modules/vault/outputs.tf
  terraform/amazon/modules/vault/vault_iam.tf
  terraform/amazon/templates/vault_instances.tf.template
Due: none

Format terraform code
  terraform/amazon/modules/vault/inputs.tf
Due: none

Run plan again if puppet tar gz has been tainted
  pkg/terraform/terraform.go
Due: none

Use lowercase log info output in utils/context.go
  pkg/tarmak/utils/context.go
Due: none

Update Gopkg.lock
  Gopkg.lock
Due: none

Add jenkins instance tests additionally
  pkg/tarmak/config/cluster.go
  pkg/tarmak/tarmak_test.go
Due: none

Adds Jenkins instance pool tests to tarmak_test.go
  pkg/tarmak/tarmak_test.go
Due: none

Initialise config at the correct place
  pkg/tarmak/tarmak_test.go
Due: none

Ensure terraform formatting is ok for Jenkins
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_iam.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/instance_pools/instance_pools.tf.template
  terraform/amazon/templates/instance_pools/role_elb.tf.template
  terraform/amazon/templates/modules.tf.template
  terraform/amazon/templates/outputs.tf.template
Due: none

Correctly formats generated Jenkins terraform code
  terraform/amazon/templates/instance_pools/instance_pool_iam.tf.template
  terraform/amazon/templates/instance_pools/instance_pools.tf.template
Due: none

Add kubeconfig to docs spelling list
  docs/spelling_wordlist.txt
Due: none

Adds `tarmak cluster kubeconfig` subcommand
  cmd/tarmak/cmd/cluster.go
  cmd/tarmak/cmd/cluster_kubeconfig.go
  docs/cmd-docs.rst
  docs/generated/cmd/tarmak/tarmak_clusters.rst
  docs/generated/cmd/tarmak/tarmak_clusters_kubeconfig.rst
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/apis/tarmak/v1alpha1/zz_generated.deepcopy.go
  pkg/tarmak/cmd.go
  pkg/tarmak/kubectl/kubectl.go
  pkg/tarmak/utils/consts/consts.go
Due: none

Default using config public api endpoint that can be overridden
  cmd/tarmak/cmd/cluster.go
  cmd/tarmak/cmd/cluster_apply.go
  cmd/tarmak/cmd/cluster_debug_terraform_shell.go
  cmd/tarmak/cmd/cluster_destroy.go
  cmd/tarmak/cmd/cluster_force-unlock.go
  cmd/tarmak/cmd/cluster_images_build.go
  cmd/tarmak/cmd/cluster_kubeconfig.go
  cmd/tarmak/cmd/cluster_plan.go
  docs/generated/cmd/tarmak/tarmak_clusters_kubeconfig.rst
  pkg/tarmak/cmd.go
  pkg/tarmak/kubectl/kubectl.go
  pkg/tarmak/utils/consts/consts.go
Due: none

Adds public-api-endpoint flag to global for kubectl to use aswell
  cmd/tarmak/cmd/cluster.go
  cmd/tarmak/cmd/cluster_kubectl.go
  cmd/tarmak/cmd/kubeconfig.go
  cmd/tarmak/cmd/root.go
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/tarmak/cmd.go
  pkg/tarmak/kubectl/kubectl.go
  pkg/tarmak/tarmak.go
Due: none

Updates cmd docs and adds kubeconfig instructions
  docs/cmd-docs.rst
  docs/generated/cmd/tarmak/tarmak.rst
  docs/generated/cmd/tarmak/tarmak_clusters.rst
  docs/generated/cmd/tarmak/tarmak_clusters_apply.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug_puppet.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug_puppet_build-tar.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug_terraform.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug_terraform_shell.rst
  docs/generated/cmd/tarmak/tarmak_clusters_destroy.rst
  docs/generated/cmd/tarmak/tarmak_clusters_force-unlock.rst
  docs/generated/cmd/tarmak/tarmak_clusters_images.rst
  docs/generated/cmd/tarmak/tarmak_clusters_images_build.rst
  docs/generated/cmd/tarmak/tarmak_clusters_images_list.rst
  docs/generated/cmd/tarmak/tarmak_clusters_instances.rst
  docs/generated/cmd/tarmak/tarmak_clusters_instances_list.rst
  docs/generated/cmd/tarmak/tarmak_clusters_instances_ssh.rst
  docs/generated/cmd/tarmak/tarmak_clusters_list.rst
  docs/generated/cmd/tarmak/tarmak_clusters_plan.rst
  docs/generated/cmd/tarmak/tarmak_clusters_set-current.rst
  docs/generated/cmd/tarmak/tarmak_clusters_ssh.rst
  docs/generated/cmd/tarmak/tarmak_environments.rst
  docs/generated/cmd/tarmak/tarmak_environments_init.rst
  docs/generated/cmd/tarmak/tarmak_environments_list.rst
  docs/generated/cmd/tarmak/tarmak_init.rst
  docs/generated/cmd/tarmak/tarmak_kubeconfig.rst
  docs/generated/cmd/tarmak/tarmak_kubectl.rst
  docs/generated/cmd/tarmak/tarmak_providers.rst
  docs/generated/cmd/tarmak/tarmak_providers_init.rst
  docs/generated/cmd/tarmak/tarmak_providers_list.rst
  docs/generated/cmd/tarmak/tarmak_providers_validate.rst
  docs/generated/cmd/tarmak/tarmak_version.rst
  docs/generated/reference/output/api-docs.html
  docs/user-guide.rst
Due: none

Don't set up a tunnel for public api endpoints
  pkg/tarmak/cmd.go
  pkg/tarmak/kubectl/kubectl.go
Due: none

Release 0.5.0-rc1
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Do not auto-approve by default
  cmd/tarmak/cmd/cluster.go
  docs/generated/cmd/tarmak/tarmak_clusters_apply.rst
  pkg/terraform/terraform.go
Due: none

Update kubernetes versions
  CHANGELOG.md
  pkg/apis/cluster/v1alpha1/defaults.go
  puppet/modules/tarmak/Makefile
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Ensure insecure API endpoint is disabled for 1.11+
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Ensure service accounts are looked up in etcd
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Disable repair of malformed updates in apiserver
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Disable read-only ports of the kubelet
  puppet/modules/kubernetes/templates/kubelet-config.yaml.erb
  puppet/modules/kubernetes/templates/kubelet.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Disable profiling endpoints for controlplane
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
  puppet/modules/kubernetes/templates/kube-controller-manager.service.erb
  puppet/modules/kubernetes/templates/kube-scheduler.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
