Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$

Correctly formats terraform code
  terraform/amazon/modules/kubernetes/inputs.tf
Due: none

Use puppet Hash[String,Boolean] for feature gates
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/manifests/controller_manager.pp
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/manifests/proxy.pp
  puppet/modules/kubernetes/manifests/scheduler.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
  puppet/modules/kubernetes/spec/classes/controller_manager_spec.rb
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
  puppet/modules/kubernetes/spec/classes/proxy_spec.rb
  puppet/modules/kubernetes/spec/classes/scheduler_spec.rb
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
  puppet/modules/kubernetes/templates/kube-controller-manager.service.erb
  puppet/modules/kubernetes/templates/kube-proxy-config.yaml.erb
  puppet/modules/kubernetes/templates/kube-proxy.service.erb
  puppet/modules/kubernetes/templates/kube-scheduler.service.erb
  puppet/modules/kubernetes/templates/kubelet-config.yaml.erb
  puppet/modules/kubernetes/templates/kubelet.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Changes feature gates config hierarchy
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  docs/user-guide.rst
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/feature_gates.go
  pkg/apis/cluster/v1alpha1/ls
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/puppet/puppet.go
Due: none

Use feature flags in config for proxy
  pkg/puppet/puppet.go
  puppet/modules/kubernetes/manifests/proxy.pp
  puppet/modules/kubernetes/spec/classes/proxy_spec.rb
  puppet/modules/kubernetes/templates/kube-proxy-config.yaml.erb
  puppet/modules/kubernetes/templates/kube-proxy.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Uses map[string]bool for feature gates
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  docs/user-guide.rst
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/puppet/puppet.go
  pkg/puppet/puppet_test.go
  pkg/tarmak/utils/maps.go
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/manifests/proxy.pp
  terraform/amazon/modules/kubernetes/inputs.tf
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds management of ssh_known_hosts file proposal
  docs/proposals/ssh-known_hosts.rst
  docs/spelling_wordlist.txt
Due: none

Don't template security groups for vault
  pkg/terraform/templating.go
Due: none

Hub vault_cluster resource depends on vault instances policies
  terraform/amazon/templates/vault_instances.tf.template
Due: none

Adds review changes to reduce duplication and keep legacy naming
  pkg/puppet/puppet.go
  pkg/terraform/templating.go
  puppet/hiera.yaml
  puppet/hieradata/tarmak_common.yaml
  puppet/hieradata/vault.yaml
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/spec/spec_helper.rb
  puppet/spec/hosts/etcd_spec.rb
  puppet/spec/hosts/master_spec.rb
  puppet/spec/hosts/worker_spec.rb
  terraform/amazon/modules/kubernetes/iam_policies.tf
  terraform/amazon/modules/kubernetes/templates/iam_tarmak_bucket_read.json
  terraform/amazon/modules/vault/inputs.tf
  terraform/amazon/modules/vault/outputs.tf
  terraform/amazon/modules/vault/puppet_s3.tf
  terraform/amazon/modules/vault/tls_s3.tf
  terraform/amazon/modules/vault/vault_iam.tf
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/modules.tf.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_vault_user_data.yaml.template
  terraform/amazon/templates/puppet_s3.tf.template
  terraform/amazon/templates/vault_instances.tf.template
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Clean up code and terraform policies
  pkg/terraform/templating.go
  puppet/spec/spec_helper.rb
  terraform/amazon/modules/vault/vault_iam.tf
  terraform/amazon/templates/vault_instances.tf.template
Due: none

Fix terraform fmt
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
Due: none

Sets tarmak_type_instance fact for new role hierdata
  puppet/spec/hosts/etcd_spec.rb
  puppet/spec/hosts/master_spec.rb
  puppet/spec/hosts/vault_spec.rb
  puppet/spec/hosts/worker_spec.rb
Due: none

Use puppet template for vault module
  pkg/terraform/templating.go
  puppet/hieradata/role/vault.yaml
  terraform/amazon/modules/vault/puppet_s3.tf
  terraform/amazon/templates/vault_instances.tf.template
Due: none

Use correct backup bucket prefix
  puppet/hieradata/vault_common.yaml
  terraform/amazon/templates/puppet_agent_vault_user_data.yaml.template
Due: none

Bootstrap consul and vault instances using vault + puppet
  pkg/puppet/puppet.go
  pkg/terraform/templating.go
  puppet/hiera.yaml
  puppet/hieradata/kube_common.yaml
  puppet/hieradata/role/etcd.yaml
  puppet/hieradata/role/master.yaml
  puppet/hieradata/role/vault.yaml
  puppet/hieradata/role/worker.yaml
  puppet/hieradata/vault_common.yaml
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/vault_server/templates/vault-unsealer.service.erb
  terraform/amazon/modules/vault/templates/vault_role_policy.json
  terraform/amazon/modules/vault/vault_iam.tf
  terraform/amazon/modules/vault/vault_sg.tf
  terraform/amazon/templates/puppet_agent_vault_user_data.yaml.template
  terraform/amazon/templates/vault_instances.tf.template
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fix consul acceptance test
  puppet/modules/consul/spec/classes/config_spec.rb
  puppet/modules/consul/spec/classes/service_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Ensure policies are present before starting wing on vault instances
  pkg/terraform/templating.go
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/service.pp
  terraform/amazon/modules/vault/puppet_s3.tf
  terraform/amazon/modules/vault/templates/iam_tarmak_bucket_read.json
  terraform/amazon/modules/vault/templates/vault_role_policy.json
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
  terraform/amazon/modules/vault/vault_iam.tf
  terraform/amazon/templates/puppet_agent_vault_user_data.yaml.template
  terraform/amazon/templates/vault_instances.tf.template
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Use legacy file to ensure compatibility upgrading
  puppet/hiera.yaml
  puppet/hieradata/common.yaml
  puppet/hieradata/role/etcd.yaml
  puppet/hieradata/role/master.yaml
  puppet/hieradata/role/worker.yaml
  puppet/hieradata/tarmak_common.yaml
  puppet/modules/prometheus/manifests/init.pp
  puppet/modules/tarmak/manifests/init.pp
  puppet/spec/hosts/etcd_spec.rb
  puppet/spec/hosts/master_spec.rb
  puppet/spec/hosts/vault_spec.rb
  puppet/spec/hosts/worker_spec.rb
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Require docker class for kubelet
  puppet/hieradata/role/worker.yaml
  puppet/hieradata/vault.yaml
  puppet/modules/kubernetes/manifests/kubelet.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds site_module to tarmak and Kubernetes fixtures.yml
  puppet/modules/kubernetes/.fixtures.yml
  puppet/modules/kubernetes/.fixtures.yml.local
  puppet/modules/tarmak/.fixtures.yml
  puppet/modules/tarmak/.fixtures.yml.local
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Upgrade Kubernetes to 1.11.5
  CHANGELOG.md
  pkg/apis/cluster/v1alpha1/defaults.go
  puppet/modules/tarmak/Makefile
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Release 0.5.1
  CHANGELOG.md
  README.md
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Fix changelog
  CHANGELOG.md
Due: none

Moves docker class to higher hieradata
  puppet/hieradata/common.yaml
  puppet/hieradata/role/etcd.yaml
  puppet/hieradata/role/master.yaml
  puppet/hieradata/role/worker.yaml
  puppet/modules/kubernetes/manifests/kubelet.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fix docs example and ensure global flags are applied
  docs/user-guide.rst
  pkg/puppet/puppet.go
Due: none

Fix centos aws cli again
  packer/amazon/centos-puppet-agent-latest-kernel.json
  packer/amazon/centos-puppet-agent.json
Due: none

Adds Amazon Lambda approach to EC2 public key tagging
  docs/proposals/ssh-known_hosts.rst
Due: none

Migrate packer scripts to separate files
  packer/amazon/centos-puppet-agent-latest-kernel.json
  packer/amazon/centos-puppet-agent.json
  packer/amazon/cleanup.sh
  packer/amazon/configure_for_tarmak.sh
  packer/amazon/configure_latest_kernel.sh
Due: none

Hard code centos minor release
  packer/amazon/configure_for_tarmak.sh
Due: none

Format puppet and fix spec tests
  puppet/modules/aws_ebs/spec/defines/mount_spec.rb
  puppet/modules/tarmak/manifests/etcd.pp
  puppet/modules/tarmak/manifests/vault.pp
Due: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Ensure full path is passed to mount
  puppet/modules/tarmak/manifests/etcd.pp
  puppet/modules/tarmak/manifests/vault.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Don't ebs attach attached devices
  puppet/modules/aws_ebs/manifests/mount.pp
  puppet/modules/aws_ebs/templates/ensure-volume-formatted.service.erb
  puppet/modules/tarmak/manifests/etcd.pp
  puppet/modules/tarmak/manifests/vault.pp
  puppet/modules/tarmak/spec/spec_helper.rb
Due: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Correctly mount nvme drives for etcd instances
  puppet/modules/tarmak/manifests/etcd.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Override entire kubeconfig if errors
  pkg/tarmak/kubectl/kubectl.go
Due: none
