Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$

Hardening TLS configuration
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
  puppet/modules/kubernetes/templates/kubelet-config.yaml.erb
  puppet/modules/kubernetes/templates/kubelet.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Release 0.5.0-rc2
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Fix ssh.go validate bug when initing and set init cluster to current
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/tarmak.go
Due: none

Disable cobra flags after kubectl sub-command
  cmd/tarmak/cmd/cluster_kubectl.go
Due: none

Correctly parses all arguments after kubectl/ssh and adds tests
  cmd/tarmak/cmd/cluster_instances_ssh.go
  cmd/tarmak/cmd/cluster_kubectl.go
  cmd/tarmak/cmd/cluster_ssh.go
  cmd/tarmak/cmd/root.go
  cmd/tarmak/cmd/tarmak_test.go
  docs/generated/cmd/tarmak/tarmak_clusters_instances_ssh.rst
  docs/generated/cmd/tarmak/tarmak_clusters_ssh.rst
  docs/generated/cmd/tarmak/tarmak_kubectl.rst
  pkg/tarmak/utils/slices.go
Due: none

Adds ability to change vault url in tarmak.yaml
  docs/spelling_wordlist.txt
  docs/user-guide.rst
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/puppet/puppet.go
  puppet/modules/vault_client/manifests/init.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Updates api reference docs
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
Due: none

Add changelog for 0.5.0
  CHANGELOG.md
Due: none

Release 0.5.0
  README.md
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Update Gopkg.lock and cmd docs
  Gopkg.lock
  docs/cmd-docs.rst
  docs/generated/cmd/tarmak/tarmak_clusters_instances_ssh.rst
  docs/generated/cmd/tarmak/tarmak_clusters_ssh.rst
Due: none

Use same local port when daemoning tunnel
  cmd/tarmak/cmd/tunnel.go
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/environment/environment.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/ssh/tunnel.go
  pkg/tarmak/vault/vault.go
Due: none

SSH passthrough uses ssh package
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/ssh.go
  pkg/tarmak/ssh/ssh.go
Due: none

Move Execute to use pkg ssh
  cmd/tarmak/cmd/cluster_instances_ssh.go
  cmd/tarmak/cmd/cluster_ssh.go
  pkg/tarmak/environment/bastion.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/ssh.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/ssh/tunnel.go
Due: none

Create ssh tunnel with ssh package
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/kubectl/kubectl.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/ssh/tunnel.go
  pkg/tarmak/vault/tunnel.go
  pkg/tarmak/vault/vault.go
Due: none

Uses in package ssh for tunnelling
  cmd/tarmak/cmd/tunnel.go
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/environment/environment.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/kubectl/kubectl.go
  pkg/tarmak/provider/amazon/hosts.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/ssh/tunnel.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/vault/tunnel.go
  pkg/tarmak/vault/vault.go
  pkg/terraform/terraform.go
Due: none

Update vault tunnel test
  pkg/tarmak/vault/tunnel_test.go
  pkg/terraform/terraform.go
Due: none

Set tunnel tries to 5 and exit immediately
  cmd/tarmak/cmd/tunnel.go
  pkg/tarmak/ssh/tunnel.go
Due: none

Adds snapshot save and restore for consul
  cmd/tarmak/cmd/cluster_snapshot.go
  cmd/tarmak/cmd/cluster_snapshot_consul.go
  cmd/tarmak/cmd/cluster_snapshot_consul_restore.go
  cmd/tarmak/cmd/cluster_snapshot_consul_save.go
  cmd/tarmak/cmd/cluster_snapshot_etcd.go
  cmd/tarmak/cmd/cluster_snapshot_etcd_save.go
  pkg/tarmak/cmd.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/snapshot/consul/consul.go
  pkg/tarmak/snapshot/snapshot.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/utils/context.go
  pkg/tarmak/utils/slices.go
Due: none

Adds tarmak cluster snapshot etcd save
  cmd/tarmak/cmd/cluster_snapshot_consul_restore.go
  cmd/tarmak/cmd/cluster_snapshot_consul_save.go
  cmd/tarmak/cmd/cluster_snapshot_etcd_restore.go
  pkg/tarmak/snapshot/consul/consul.go
  pkg/tarmak/snapshot/etcd/etcd.go
  pkg/tarmak/snapshot/snapshot.go
  puppet/modules/etcd/manifests/install.pp
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Gzip files
  pkg/tarmak/snapshot/consul/consul.go
  pkg/tarmak/snapshot/etcd/etcd.go
  pkg/tarmak/snapshot/snapshot.go
Due: none

Attempt to tar both received and sent snapshots
  pkg/tarmak/snapshot/consul/consul.go
  pkg/tarmak/snapshot/etcd/etcd.go
  pkg/tarmak/snapshot/snapshot.go
Due: none

WIP Implement kube addon manager
  puppet/modules/kubernetes/manifests/addon_manager.pp
  puppet/modules/kubernetes/manifests/apply.pp
  puppet/modules/kubernetes/templates/kube-addon-manager.service.erb
  puppet/modules/kubernetes/templates/kube-addons.sh.erb
  puppet/modules/kubernetes/templates/kube-dns-deployment.yaml.erb
  puppet/modules/kubernetes/templates/kube-dns-horizontal-autoscaler-deployment.yaml.erb
  puppet/modules/kubernetes/templates/kube-dns-horizontal-autoscaler-rbac.yaml.erb
  puppet/modules/kubernetes/templates/kube-dns-service-account.yaml.erb
  puppet/modules/kubernetes/templates/pod-security-policy-rbac.yaml.erb
  puppet/modules/kubernetes/templates/pod-security-policy.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Use ssh package to save backups
  cmd/tarmak/cmd/cluster_snapshot_etcd_restore.go
  cmd/tarmak/cmd/cluster_snapshot_etcd_save.go
  cmd/tarmak/cmd/cluster_ssh.go
  pkg/tarmak/environment/bastion.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/snapshot/consul/consul.go
  pkg/tarmak/snapshot/etcd/etcd.go
  pkg/tarmak/snapshot/snapshot.go
  pkg/tarmak/ssh.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/ssh/tunnel.go
  puppet/modules/etcd/manifests/init.pp
  puppet/modules/etcd/manifests/install.pp
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Restore consul cluster by snapshot
  pkg/tarmak/snapshot/consul/consul.go
  pkg/tarmak/snapshot/etcd/etcd.go
  pkg/tarmak/snapshot/snapshot.go
Due: none

Adds `cluster images destroy`
  cmd/tarmak/cmd/cluster_images_destroy.go
  docs/cmd-docs.rst
  docs/generated/cmd/tarmak/tarmak_clusters_images_destroy.rst
  pkg/tarmak/cmd.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/image.go
Due: none

Includes --all flag to cluster images destroy
  cmd/tarmak/cmd/cluster.go
  cmd/tarmak/cmd/cluster_images_destroy.go
  docs/generated/cmd/tarmak/tarmak_clusters_images.rst
  docs/generated/cmd/tarmak/tarmak_clusters_images_destroy.rst
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/apis/tarmak/v1alpha1/zz_generated.deepcopy.go
  pkg/tarmak/cmd.go
Due: none

Updates cmd call with flags
  cmd/tarmak/cmd/cluster_images_destroy.go
  docs/generated/cmd/tarmak/tarmak_clusters_images_destroy.rst
Due: none

fix some more issues
  puppet/modules/kubernetes/manifests/addon_manager.pp
  puppet/modules/kubernetes/manifests/apply.pp
  puppet/modules/kubernetes/spec/acceptance/single_node_spec.rb
  puppet/modules/kubernetes/templates/kube-addon-manager.sh.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds snapshot etcd restore
  cmd/tarmak/cmd/cluster.go
  cmd/tarmak/cmd/cluster_apply.go
  cmd/tarmak/cmd/cluster_snapshot_etcd_restore.go
  docs/cmd-docs.rst
  docs/generated/cmd/tarmak/tarmak_clusters.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot_consul.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot_consul_restore.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot_consul_save.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot_etcd.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot_etcd_restore.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot_etcd_save.rst
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/apis/tarmak/v1alpha1/zz_generated.deepcopy.go
  pkg/tarmak/snapshot/etcd/etcd.go
  pkg/tarmak/snapshot/snapshot.go
  pkg/tarmak/utils/consts/consts.go
Due: none

Removes misleading ebsEncrypted block from example docs
  docs/user-guide.rst
Due: none

Adds feature gates to config to use in puppet
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/feature_gates.go
  pkg/apis/cluster/v1alpha1/ls
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/tarmak/manifests/init.pp
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/modules.tf.template
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Includes feature gates into Kubernetes services and adds tests
  puppet/hieradata/common.yaml
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/manifests/scheduler.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
  puppet/modules/kubernetes/spec/classes/scheduler_spec.rb
  puppet/modules/tarmak/manifests/init.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Push gates from tarmak to puppet hieradata
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/puppet/puppet.go
  pkg/tarmak/cluster/cluster.go
  puppet/hieradata/common.yaml
  puppet/modules/calico/manifests/init.pp
  puppet/modules/kubernetes/manifests/scheduler.pp
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds kube-proxy and controller-manager to feature gates config
  pkg/apis/cluster/v1alpha1/feature_gates.go
  pkg/puppet/puppet.go
  puppet/hieradata/common.yaml
  puppet/modules/kubernetes/manifests/controller_manager.pp
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/manifests/proxy.pp
  puppet/modules/kubernetes/templates/kube-controller-manager.service.erb
  puppet/modules/kubernetes/templates/kube-proxy.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Updates cluster deep copy
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
Due: none

Adds feature gates to docs
  docs/user-guide.rst
  pkg/apis/cluster/v1alpha1/feature_gates.go
Due: none

Adds tests for controller_manager_spec and scheduler_spec
  puppet/modules/kubernetes/spec/classes/controller_manager_spec.rb
  puppet/modules/kubernetes/spec/classes/scheduler_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Removes feature_gates from terraform
  terraform/amazon/templates/modules.tf.template
Due: none

Update reference docs
  docs/generated/reference/output/api-docs.html
  docs/user-guide.rst
  pkg/apis/cluster/v1alpha1/feature_gates.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
Due: none

Assign variables straight to classes
  pkg/puppet/puppet.go
  puppet/hieradata/common.yaml
  puppet/modules/calico/manifests/init.pp
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/manifests/controller_manager.pp
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/manifests/proxy.pp
  puppet/modules/kubernetes/manifests/scheduler.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
  puppet/modules/kubernetes/spec/classes/controller_manager_spec.rb
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
  puppet/modules/kubernetes/spec/classes/scheduler_spec.rb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos
