Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

Release 0.6.2
  CHANGELOG.md
  README.md
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Disable sctp
  packer/amazon/configure_for_tarmak.sh
Due: none

Upgrade default Kubernetes version to 1.12.6
  CHANGELOG.md
  pkg/apis/cluster/v1alpha1/defaults.go
  puppet/modules/tarmak/Makefile
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Release 0.6.3
  CHANGELOG.md
  README.md
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Upgrade default Kubernetes version to 1.12.7
  CHANGELOG.md
  pkg/apis/cluster/v1alpha1/defaults.go
  puppet/modules/tarmak/Makefile
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Release 0.6.4
  CHANGELOG.md
  README.md
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Adds update deploy permissions for metrics-server-nanny
  puppet/modules/kubernetes_addons/templates/metrics-server-rbac.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Change metrics-server deployment to an 'EnsureExists'
  puppet/modules/kubernetes_addons/templates/metrics-server.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Removes resources from metrics-pod
  puppet/modules/kubernetes_addons/templates/metrics-server.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Remove initializers apiserver admission plugin > 1.14
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Add script for puppet CI jobs
  hack/ci/run-puppet-job.sh
Due: none

Adds aws-iam-authenticator initialisation and instructions
  docs/examples/aws-iam-authenticator.rst
  docs/user-guide.rst
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/puppet/puppet.go
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/manifests/aws_iam_authenticator_init.pp
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
  puppet/modules/kubernetes/spec/classes/aws_iam_authenticator_init_spec.rb
  puppet/modules/kubernetes/templates/aws-iam-authenticator-init.service.erb
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Use the authenticator binary to initialise the config (instead of running it in a container)
  docs/examples/aws-iam-authenticator.rst
  puppet/modules/kubernetes/manifests/aws_iam_authenticator_init.pp
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/manifests/params.pp
  puppet/modules/kubernetes/templates/aws-iam-authenticator-init.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Update reference docs
  docs/generated/reference/output/api-docs.html
Due: none

Update mismatched go and json api names
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/puppet/puppet.go
Due: none

Change authenticator to oneshot, tweak and doc for authtokenwebhookfile, makes iam auth toggleable
  docs/generated/reference/output/api-docs.html
  docs/spelling_wordlist.txt
  docs/user-guide.rst
  pkg/apis/cluster/v1alpha1/cluster.go
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/manifests/aws_iam_authenticator_init.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
  puppet/modules/kubernetes/spec/classes/aws_iam_authenticator_init_spec.rb
  puppet/modules/kubernetes/templates/aws-iam-authenticator-init.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fixes docs and feedback
  docs/examples/aws-iam-authenticator.rst
  docs/spelling_wordlist.txt
  docs/user-guide.rst
  docs/vault-setup-config.rst
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/puppet/puppet.go
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/templates/aws-iam-authenticator-init.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Oneshot systemd fix
  puppet/modules/kubernetes/templates/aws-iam-authenticator-init.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Increases vault max_lease_ttl to 5 years
  puppet/modules/vault_server/templates/vault.hcl.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds centos to Makefile for tests
  puppet/modules/vault_server/Makefile
  puppet/modules/vault_server/spec/acceptance/nodesets/ubuntu_1604_single_node.yml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Updates vault-helper to 0.9.15
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  puppet/modules/vault_client/files/vault-dev-server.service
  puppet/modules/vault_client/manifests/params.pp
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/generic_vault_backend.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/init_token.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/kubernetes.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/pki_vault_backend.go
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Re-adds puppet vault_server three node acceptance test
  puppet/modules/vault_server/Makefile
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds a consul wait for vault.service
  puppet/hieradata/common.yaml
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/service.pp
  puppet/modules/vault_server/templates/vault.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Use `/v1/acl/$token` for vault.server pre-condition
  puppet/hieradata/common.yaml
  puppet/modules/vault_server/manifests/init.pp
  puppet/modules/vault_server/manifests/service.pp
  puppet/modules/vault_server/templates/vault.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

fix typo in route53.go file for dnsNameservers-zoneNameservers mismatch
  pkg/tarmak/provider/amazon/route53.go
Due: none

Adds acceptance-single-node to consul puppet
  puppet/modules/consul/Makefile
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fixes the installation of consul-backinator
  puppet/modules/consul/files/consul-backup.sh
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fixes consul puppet tests
  puppet/modules/consul/spec/classes/install_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Upgrade consul-backinator to 1.6.5 and extract to consul-backintor
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/params.pp
  puppet/modules/consul/spec/classes/install_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
