Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

Also retry for vault assets
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: none

Upgrade UPX to 3.95
  Makefile
Due: none

Improve Makefile
  Makefile
  pkg/tarmak/binaries/binaries.go
Due: none

Add a publish script
  .gitignore
  Makefile
  hack/publish-release.sh
  pkg/tarmak/binaries/binaries.go
Due: none

Fix remaining makefile targets
  Makefile
Due: none

Update gitlab-ci
  .gitlab-ci.yml
Due: none

Release 0.6.0-alpha1
  docs/conf.py
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Fix makefile prepare_release
  Makefile
Due: none

Adds test for addon_manager labels and add missing
  puppet/modules/calico/spec/classes/config_spec.rb
  puppet/modules/calico/spec/classes/init_spec.rb
  puppet/modules/calico/spec/classes/node_spec.rb
  puppet/modules/calico/spec/classes/policy_controller_spec.rb
  puppet/modules/calico/templates/disable-source-destination.yaml.erb
  puppet/modules/calico/templates/node-rbac.yaml.erb
  puppet/modules/calico/templates/policy-controller-deployment.yaml.erb
  puppet/modules/kubernetes/functions/addon_manager_labels.pp
  puppet/modules/kubernetes/manifests/apply.pp
  puppet/modules/kubernetes/spec/acceptance/single_node_spec.rb
  puppet/modules/kubernetes_addons/spec/classes/cluster_autoscaler_spec.rb
  puppet/modules/kubernetes_addons/spec/classes/dashboard_spec.rb
  puppet/modules/kubernetes_addons/spec/classes/default_backend_spec.rb
  puppet/modules/kubernetes_addons/spec/classes/elasticsearch_spec.rb
  puppet/modules/kubernetes_addons/spec/classes/fluentd_elasticsearch_spec.rb
  puppet/modules/kubernetes_addons/spec/classes/grafana_spec.rb
  puppet/modules/kubernetes_addons/spec/classes/heapster_spec.rb
  puppet/modules/kubernetes_addons/spec/classes/influxdb_spec.rb
  puppet/modules/kubernetes_addons/spec/classes/kibana_spec.rb
  puppet/modules/kubernetes_addons/spec/classes/kube2iam_spec.rb
  puppet/modules/kubernetes_addons/spec/classes/metrics_server_spec.rb
  puppet/modules/kubernetes_addons/spec/classes/nginx_ingress_spec.rb
  puppet/modules/kubernetes_addons/spec/classes/tiller_spec.rb
  puppet/modules/kubernetes_addons/templates/default-backend-svc.yaml.erb
  puppet/modules/kubernetes_addons/templates/tiller-deployment.yaml.erb
  puppet/modules/prometheus/templates/kube-state-metrics-deployment.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds sleep 2 to healthz test command
  puppet/modules/kubernetes/manifests/apply.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Stop warning about failed bastion conn and forget
  pkg/tarmak/ssh/ssh.go
Due: none

Use custom metrics server image for API proxy
  puppet/modules/kubernetes_addons/manifests/metrics_server.pp
  puppet/modules/kubernetes_addons/templates/metrics-server-rbac.yaml.erb
  puppet/modules/kubernetes_addons/templates/metrics-server.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Use correct path to package
  Makefile
Due: none

Remove goreleaser remains
  Makefile
Due: none

Remove unused legacy version struct
  cmd/tagging_control/cmd/version.go
  cmd/tagging_control/main.go
  cmd/tarmak/cmd/root.go
  cmd/tarmak/cmd/version.go
  cmd/tarmak/main.go
  cmd/wing/cmd/version.go
  cmd/wing/main.go
  docs/generated/reference/output/api-docs.html
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/tarmak/tarmak.go
Due: none

Generate wing hash based on vendored file
  pkg/terraform/templating.go
  pkg/terraform/terraform.go
Due: none

Release public packer base images
  .gitlab-ci.yml
  Makefile
  hack/release-github.sh
  hack/release-tarmak-packer-image.sh
  packer/amazon/.gitignore
  packer/amazon/releases.json
Due: none

Correctly configure calico for kubernetes backend
  puppet/modules/calico/manifests/config.pp
  puppet/modules/calico/manifests/node.pp
  puppet/modules/calico/templates/configmap_kubernetes.yaml.erb
  puppet/modules/calico/templates/configure_calico_kubernetes_job.yaml.erb
  puppet/modules/calico/templates/node-crd.yaml.erb
  puppet/modules/calico/templates/node-daemonset_kubernetes.yaml.erb
  puppet/modules/calico/templates/node-rbac.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds kubernetes as an optional backend for calico
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/puppet/puppet.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/calico/Gemfile.lock
  puppet/modules/calico/manifests/config.pp
  puppet/modules/calico/manifests/init.pp
  puppet/modules/calico/manifests/node.pp
  puppet/modules/calico/manifests/params.pp
  puppet/modules/calico/manifests/policy_controller.pp
  puppet/modules/calico/spec/classes/config_spec.rb
  puppet/modules/calico/spec/classes/node_spec.rb
  puppet/modules/calico/templates/configmap_etcd.yaml.erb
  puppet/modules/calico/templates/configmap_kubernetes.yaml.erb
  puppet/modules/calico/templates/configure_calico_kubernetes_job.yaml.erb
  puppet/modules/calico/templates/node-daemonset_etcd.yaml.erb
  puppet/modules/calico/templates/node-daemonset_kubernetes.yaml.erb
  puppet/modules/calico/templates/policy-controller-deployment.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds labels to calico resources and removes feature gates
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/calico/templates/configmap_kubernetes.yaml.erb
  puppet/modules/calico/templates/node-crd.yaml.erb
  puppet/modules/calico/templates/node-daemonset_kubernetes.yaml.erb
  puppet/modules/calico/templates/node-rbac.yaml.erb
  puppet/modules/calico/templates/policy-controller-deployment.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds typha option to calico kubernetes backend
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/puppet/puppet.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/calico/Gemfile.lock
  puppet/modules/calico/manifests/init.pp
  puppet/modules/calico/manifests/node.pp
  puppet/modules/calico/manifests/params.pp
  puppet/modules/calico/templates/node-daemonset_kubernetes.yaml.erb
  puppet/modules/calico/templates/node-typha.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Remove problem parameter
  puppet/modules/calico/manifests/params.pp
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds calico puppet modules tests for kubernetes backend
  puppet/modules/calico/manifests/init.pp
  puppet/modules/calico/manifests/node.pp
  puppet/modules/calico/spec/classes/config_spec.rb
  puppet/modules/calico/spec/classes/node_spec.rb
  puppet/modules/calico/templates/configmap_kubernetes.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Use same daemonset yaml with templating for calico backends
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/calico/manifests/node.pp
  puppet/modules/calico/spec/classes/node_spec.rb
  puppet/modules/calico/templates/node-daemonset.yaml.erb
  puppet/modules/calico/templates/node-daemonset_kubernetes.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds docs on how to configure calico
  docs/spelling_wordlist.txt
  docs/user-guide.rst
Due: none

Fix function to verify yaml
  puppet/modules/kubernetes/functions/addon_manager_labels.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fetch non service logs
  pkg/tarmak/logs/logs.go
Due: none

Fix cmd from hanging
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/logs/logs.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/utils/constants.go
Due: none

Gather all instance logs from single json stream
  pkg/tarmak/logs/logs.go
Due: none

Gather logs concurrently and handle signals
  pkg/tarmak/logs/logs.go
  pkg/tarmak/ssh/ssh.go
Due: none

Adds `tarmak cluster logs`
  cmd/tarmak/cmd/cluster.go
  cmd/tarmak/cmd/cluster_logs.go
  docs/cmd-docs.rst
  docs/generated/cmd/tarmak/tarmak_clusters.rst
  docs/generated/cmd/tarmak/tarmak_clusters_logs.rst
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/apis/tarmak/v1alpha1/zz_generated.deepcopy.go
  pkg/tarmak/cmd.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/logs/logs.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/utils/consts/consts.go
Due: none

Add time scale to logs - default last 24h
  cmd/tarmak/cmd/cluster.go
  cmd/tarmak/cmd/cluster_destroy.go
  cmd/tarmak/cmd/cluster_force-unlock.go
  cmd/tarmak/cmd/cluster_logs.go
  docs/generated/cmd/tarmak/tarmak_clusters_logs.rst
  docs/generated/reference/output/api-docs.html
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/tarmak/cmd.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/logs/logs.go
Due: none

Output logs matches journalctl format
  pkg/tarmak/logs/logs.go
Due: none

Better aggregate logs of the same service
  docs/generated/cmd/tarmak/tarmak_clusters_logs.rst
  pkg/tarmak/logs/logs.go
Due: none

Update reference docs
  pkg/tarmak/logs/logs.go
Due: none

Updates generated cmd and api docs
  docs/generated/cmd/tarmak/tarmak_clusters.rst
  docs/generated/cmd/tarmak/tarmak_clusters_logs.rst
Due: none

Adds target groups to choose
  cmd/tarmak/cmd/cluster_logs.go
  pkg/tarmak/logs/logs.go
  pkg/tarmak/utils/slices.go
Due: none

Pipe logs straight to file to support large sizes
  cmd/tarmak/cmd/cluster_logs.go
  pkg/tarmak/logs/logs.go
Due: none

Removes ErrorOrNil() to remove confusion
  pkg/tarmak/logs/logs.go
Due: none

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
