Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-consul-quick-verify, tarmak-puppet-module-consul-acceptance-single-node, tarmak-puppet-module-consul-acceptance-three-node, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-etcd-acceptance-three-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos, tarmak-puppet-module-vault_client-acceptance-ubuntu, tarmak-puppet-module-vault_server-quick-verify, tarmak-puppet-module-vault_server-acceptance-centos

tarmak-puppet-roles-quick-verify:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/jetstack-build-infra-images/tarmak-ruby:20190409-092dcaf-2.4.4
      command:
      - make
      - -C
      - puppet
      - verify
      env:
      - name: BUNDLE_DIR
        value: /cache/bundle/$(JOB_NAME)
  ...

tarmak-puppet-module-aws_ebs-quick-verify:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/jetstack-build-infra-images/tarmak-ruby:20190409-092dcaf-2.4.4
      command:
      - /bin/sh
      - -c
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/jetstack-build-infra-images/tarmak-ruby:20190409-092dcaf-2.4.4
      command:
      - /bin/sh
      - -c
  ...

tarmak-puppet-module-calico-quick-verify:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/jetstack-build-infra-images/tarmak-ruby:20190409-092dcaf-2.4.4
      command:
      - /bin/sh
      - -c
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
  ...

tarmak-puppet-module-consul-quick-verify:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/jetstack-build-infra-images/tarmak-ruby:20190409-092dcaf-2.4.4
      command:
      - /bin/sh
      - -c
  ...

tarmak-puppet-module-consul-acceptance-single-node:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
  ...

tarmak-puppet-module-consul-acceptance-three-node:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
  ...

tarmak-puppet-module-etcd-quick-verify:
  decorate: true
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/jetstack-build-infra-images/tarmak-ruby:20190409-092dcaf-2.4.4
      command:
      - /bin/sh
      - -c
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
  ...

Fixes consul puppet tests
  puppet/modules/consul/spec/classes/install_spec.rb
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-consul-quick-verify, tarmak-puppet-module-consul-acceptance-single-node, tarmak-puppet-module-consul-acceptance-three-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Fixes the installation of consul-backinator
  puppet/modules/consul/files/consul-backup.sh
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-consul-quick-verify, tarmak-puppet-module-consul-acceptance-single-node, tarmak-puppet-module-consul-acceptance-three-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Updates vault-helper to 0.9.15
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  puppet/modules/vault_client/files/vault-dev-server.service
  puppet/modules/vault_client/manifests/params.pp
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/generic_vault_backend.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/init_token.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/kubernetes.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/pki_vault_backend.go
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos, tarmak-puppet-module-vault_client-acceptance-ubuntu

Adds acceptance-single-node to consul puppet
  puppet/modules/consul/Makefile
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-consul-quick-verify, tarmak-puppet-module-consul-acceptance-single-node, tarmak-puppet-module-consul-acceptance-three-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Upgrade default Kubernetes version to 1.12.8
  CHANGELOG.md
  pkg/apis/cluster/v1alpha1/defaults.go
  puppet/modules/tarmak/Makefile
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Upgrade golang to 1.10.10
  .gitlab-ci.yml
  Makefile
Due: none

Release 0.6.5
  README.md
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Release 0.6.5
  CHANGELOG.md
  README.md
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Enable support for bound service account token
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
  puppet/modules/tarmak/manifests/master.pp
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Adds api audience to apiserver service account bounded tokens
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Use --service-accounts-api-audiences -> --api-audiences for 1.13+
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Reverse post 1.13 logic to make more clear in kube-apiserver.service
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Add docs for socket path problem
  docs/known-issues/path-too-long.rst
Due: none

Update kube-state-metrics to the latest version
  puppet/modules/prometheus/manifests/kube_state_metrics.pp
  puppet/modules/prometheus/templates/kube-state-metrics-deployment.yaml.erb
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Upgrade kube-state-metrics to 1.6.0
  puppet/modules/prometheus/manifests/kube_state_metrics.pp
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Upgrade default kubernetes version to 1.12.9
  CHANGELOG.md
  pkg/apis/cluster/v1alpha1/defaults.go
  puppet/modules/tarmak/Makefile
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Upgrade reference docs
  docs/generated/reference/output/node_modules/ejs/ejs.js
  docs/generated/reference/output/node_modules/ejs/ejs.min.js
  docs/generated/reference/output/node_modules/ejs/lib/ejs.js
  docs/generated/reference/output/node_modules/ejs/lib/utils.js
Due: none

Upgrade golang to 1.11.11
  .gitlab-ci.yml
  Makefile
Due: none

Release 0.6.6
  CHANGELOG.md
  README.md
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Fix changelog
  CHANGELOG.md
Due: none

Support for kubernetes 1.15
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/manifests/controller_manager.pp
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/manifests/proxy.pp
  puppet/modules/kubernetes/manifests/scheduler.pp
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
  puppet/modules/kubernetes/templates/kube-controller-manager.service.erb
  puppet/modules/kubernetes/templates/kube-proxy.service.erb
  puppet/modules/kubernetes/templates/kube-scheduler.service.erb
  puppet/modules/kubernetes/templates/kubelet.service.erb
  puppet/modules/tarmak/Makefile
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Upgrade etcd to 3.2.26
  CHANGELOG.md
  puppet/modules/etcd/Makefile
  puppet/modules/etcd/manifests/params.pp
  puppet/modules/etcd/spec/acceptance/single_node_spec.rb
  puppet/modules/etcd/spec/acceptance/three_node_spec.rb
  puppet/modules/kubernetes/files/etcd.service
  puppet/modules/tarmak/README.md
  puppet/modules/tarmak/manifests/init.pp
  terraform/amazon/templates/bastion_user_data.yaml.template
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-etcd-acceptance-three-node, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Integrate docker gpg key
  puppet/modules/tarmak/spec/acceptance/cluster_packer_spec.rb
  puppet/modules/tarmak/spec/acceptance/single_node_spec.rb
  puppet/modules/tarmak/spec/files/ubuntu-16-04-docker.gpg
Due: tarmak-puppet-roles-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-11-centos, tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu, tarmak-puppet-module-tarmak-acceptance-1-13-centos, tarmak-puppet-module-tarmak-acceptance-1-12-centos, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-tarmak-acceptance-1-9-centos, tarmak-puppet-module-tarmak-acceptance-1-8-centos

Mark the vault certificates to be renewed 30 days before expiry
  terraform/amazon/modules/vault/tls.tf
Due: none

Update tarmak version references to 0.6.7
  CHANGELOG.md
  README.md
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Path conditions:
  tarmak-puppet-roles-quick-verify: any of: ^(puppet).*$
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-consul-quick-verify: any of: ^(puppet/modules/consul).*$
  tarmak-puppet-module-consul-acceptance-single-node: any of: ^(puppet/modules/consul).*$
  tarmak-puppet-module-consul-acceptance-three-node: any of: ^(puppet/modules/consul).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-three-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-11-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-11-ubuntu: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-13-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-12-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-9-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-8-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-ubuntu: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_server-quick-verify: any of: ^(puppet/modules/vault_server).*$
  tarmak-puppet-module-vault_server-acceptance-centos: any of: ^(puppet/modules/vault_server).*$
