Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

Re-use working tunnel for kubectl
  pkg/tarmak/kubectl/kubectl.go
Due: none

Fix hack packer build script
  hack/release-tarmak-packer-image.sh
Due: none

Release 0.6.0-alpha2
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Don't default to os.Stdin for stdin in SSH execute sessions
  pkg/tarmak/ssh/ssh.go
Due: none

Have timeout for tunnel, new connections reset timer
  cmd/tarmak/cmd/tunnel.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/kubectl/kubectl.go
  pkg/tarmak/ssh/tunnel.go
  pkg/tarmak/vault/tunnel.go
  pkg/tarmak/vault/tunnel_test.go
Due: none

Close tunnel connections correctly after transmission
  pkg/tarmak/ssh/tunnel.go
Due: none

Fallback to pre-built AMI images if none privately built
  pkg/apis/cluster/v1alpha1/constants.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/packer/packer.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/image.go
  pkg/tarmak/tarmak_test.go
  pkg/version/version.go
  pkg/version/version_test.go
Due: none

Add config toggle for heapster, influxdb, grafana
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  docs/spelling_wordlist.txt
  docs/user-guide.rst
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/puppet/puppet.go
  pkg/tarmak/initialize/initialize.go
  puppet/hieradata/role/master.yaml
  puppet/modules/kubernetes_addons/manifests/grafana.pp
  puppet/modules/kubernetes_addons/manifests/heapster.pp
  puppet/modules/kubernetes_addons/manifests/influxdb.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Release 0.6.0-rc1
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Add some basic e2e tests
  Gopkg.lock
  Makefile
  cmd/tarmak/e2e/download_test.go
  cmd/tarmak/e2e/e2e_cluster_test.go
  cmd/tarmak/e2e/tarmak_instance_test.go
  packer/amazon/centos-puppet-agent-latest-kernel.json
  packer/amazon/centos-puppet-agent.json
  pkg/version/version.go
  pkg/version/version_test.go
  vendor/github.com/google/goexpect/AUTHORS
  vendor/github.com/google/goexpect/LICENSE
  vendor/github.com/google/goexpect/expect.go
  vendor/github.com/google/goterm/AUTHORS
  vendor/github.com/google/goterm/LICENSE
  vendor/github.com/google/goterm/term/color.go
  vendor/github.com/google/goterm/term/ssh.go
  vendor/github.com/google/goterm/term/termios.go
Due: none

Upgrade to Centos 7.6.1810
  packer/amazon/configure_for_tarmak.sh
Due: none

Update go fmt to 1.11 standard
  pkg/packer/image.go
  pkg/tarmak/provider/amazon/tf_remote_state.go
Due: none

Upgrade to go version 1.11.4
  .gitlab-ci.yml
  Makefile
Due: none

Updates CHANGELOG.md for release 0.5.4
  CHANGELOG.md
Due: none

Release 0.5.4
  README.md
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Adds sobobuoy to end to end tests
  Gopkg.lock
  Gopkg.toml
  Makefile
  cmd/tarmak/e2e/e2e_cluster_test.go
  cmd/tarmak/e2e/sonobuoy_test.go
  cmd/tarmak/e2e/tarmak_instance_test.go
  puppet/modules/kubernetes/manifests/dns.pp
  puppet/modules/kubernetes/spec/classes/dns_spec.rb
  puppet/modules/kubernetes/templates/coredns-config-map.yaml.erb
  puppet/modules/kubernetes/templates/coredns-deployment.yaml.erb
  puppet/modules/tarmak/spec/acceptance/single_node_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds elasticloadbalancing:DeregisterTargets policy to elb controller role
  terraform/amazon/modules/kubernetes/templates/iam_elb_controller.json
Due: none

Adds AddListenrCertificates and RemoveListenerCertificates permissions to ELB
  terraform/amazon/modules/kubernetes/templates/iam_elb_controller.json
Due: none

Use a reverse tunnel
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_spec.rb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Refactor acceptance test
  puppet/modules/aws_es_proxy/templates/aws-es-proxy.service.erb
  puppet/modules/fluent_bit/Gemfile.lock
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_spec.rb
Due: tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds full fluent-bit acceptance tests
  puppet/modules/aws_es_proxy/manifests/instance.pp
  puppet/modules/fluent_bit/manifests/output.pp
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_spec.rb
  puppet/modules/fluent_bit/spec/defines/output_spec.rb
Due: tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Increase fluent-bit acceptance tests sleep to 10
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_spec.rb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Spin up actual elasticserach on the VMs
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_spec.rb
  puppet/modules/fluent_bit/spec/fixtures/elasticsearch.repo
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Move pp definition into context
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_spec.rb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Have a break condition if no log line is received
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_spec.rb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Upgrade kubernetes versions
  CHANGELOG.md
  pkg/apis/cluster/v1alpha1/defaults.go
  puppet/modules/tarmak/Makefile
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds sonobuoy as depend in Makefile and adds help
  Makefile
  cmd/tarmak/e2e/sonobuoy_test.go
Due: none

Update clusterrole for kube-state-metrics
  puppet/modules/prometheus/templates/kube-state-metrics-deployment.yaml.erb
Due: tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Revert changes to AMI names
  packer/amazon/centos-puppet-agent-latest-kernel.json
  packer/amazon/centos-puppet-agent.json
Due: none

Updates CHANGELOG.md for 0.6.0
  CHANGELOG.md
Due: none

Updates intro to CHANGELOG.md
  CHANGELOG.md
Due: none

Release 0.6.0-rc2
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Increases inotify limits on Kubernetes instances
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/manifests/install.pp
  puppet/modules/kubernetes/manifests/params.pp
  puppet/modules/kubernetes/templates/fs.conf.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Move inotify change to kubelet.pp
  puppet/modules/kubernetes/manifests/install.pp
  puppet/modules/kubernetes/manifests/kubelet.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Use ::kubernetes::path for sysctl-system exec
  puppet/modules/kubernetes/manifests/kubelet.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds inotify watch limits to CHANGELOG
  CHANGELOG.md
Due: none

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
