Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

Share wing binary read policy across roles in terraform
  pkg/tarmak/cluster/cluster.go
  terraform/amazon/modules/jenkins/inputs.tf
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/modules/tagging_control/templates/tagging_control_policy.json
  terraform/amazon/modules/vault/inputs.tf
  terraform/amazon/templates/jenkins_user_data.yaml.template
  terraform/amazon/templates/modules.tf.template
  terraform/amazon/templates/outputs.tf.template
  terraform/amazon/templates/vault_instances.tf.template
  terraform/amazon/templates/wing_s3.tf.template
Due: none

Use option `ask` for strict host checking when in interactive mode
  pkg/tarmak/environment/bastion.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/ssh.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/tarmak.go
  pkg/wing/server/server.go
Due: none

Use iam_policy_role_attachment for shared wing binary read policy
  terraform/amazon/modules/bastion/bastion_iam.tf
  terraform/amazon/modules/vault/vault_iam.tf
  terraform/amazon/templates/bastion_user_data.yaml.template
  terraform/amazon/templates/wing_s3.tf.template
Due: none

Adds a fallback for instances that have no public key tags
  cmd/tarmak/cmd/root.go
  docs/generated/cmd/tarmak/tarmak.rst
  docs/generated/cmd/tarmak/tarmak_clusters.rst
  docs/generated/cmd/tarmak/tarmak_clusters_apply.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug_puppet.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug_puppet_build-tar.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug_terraform.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug_terraform_shell.rst
  docs/generated/cmd/tarmak/tarmak_clusters_destroy.rst
  docs/generated/cmd/tarmak/tarmak_clusters_force-unlock.rst
  docs/generated/cmd/tarmak/tarmak_clusters_images.rst
  docs/generated/cmd/tarmak/tarmak_clusters_images_build.rst
  docs/generated/cmd/tarmak/tarmak_clusters_images_list.rst
  docs/generated/cmd/tarmak/tarmak_clusters_instances.rst
  docs/generated/cmd/tarmak/tarmak_clusters_instances_list.rst
  docs/generated/cmd/tarmak/tarmak_clusters_instances_ssh.rst
  docs/generated/cmd/tarmak/tarmak_clusters_list.rst
  docs/generated/cmd/tarmak/tarmak_clusters_plan.rst
  docs/generated/cmd/tarmak/tarmak_clusters_set-current.rst
  docs/generated/cmd/tarmak/tarmak_clusters_ssh.rst
  docs/generated/cmd/tarmak/tarmak_environments.rst
  docs/generated/cmd/tarmak/tarmak_environments_init.rst
  docs/generated/cmd/tarmak/tarmak_environments_list.rst
  docs/generated/cmd/tarmak/tarmak_init.rst
  docs/generated/cmd/tarmak/tarmak_kubeconfig.rst
  docs/generated/cmd/tarmak/tarmak_kubectl.rst
  docs/generated/cmd/tarmak/tarmak_providers.rst
  docs/generated/cmd/tarmak/tarmak_providers_init.rst
  docs/generated/cmd/tarmak/tarmak_providers_list.rst
  docs/generated/cmd/tarmak/tarmak_providers_validate.rst
  docs/generated/cmd/tarmak/tarmak_version.rst
  docs/generated/reference/output/api-docs.html
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/tarmak/config/config.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/hosts.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/ssh/tunnel.go
Due: none

Move important instance tags to awstag_ec2_tag
  pkg/tarmak/cmd.go
  terraform/amazon/modules/bastion/bastion.tf
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/vault_instances.tf.template
Due: none

Remove quotes from `WING_ENVIRONMENT`
  terraform/amazon/templates/bastion_user_data.yaml.template
Due: none

Disable cmd auto gen tags for tagging_control
  cmd/tagging_control/cmd/root.go
  docs/generated/cmd/tagging_control/tagging_control.rst
  docs/generated/cmd/tagging_control/tagging_control_handle.rst
  docs/generated/cmd/tagging_control/tagging_control_version.rst
  docs/generated/cmd/tagging_control/tagging_control_zip.rst
  terraform/amazon/modules/vault/inputs.tf
Due: none

Removes duplicate variable declarations in terraform
  terraform/amazon/modules/bastion/bastion_iam.tf
  terraform/amazon/modules/jenkins/inputs.tf
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/modules/vault/inputs.tf
  terraform/amazon/modules/vault/vault_iam.tf
  terraform/amazon/templates/modules.tf.template
  terraform/amazon/templates/outputs.tf.template
Due: none

Add first proposal for architecture diagrams
  docs/images/00-tarmak-local.png
  docs/images/01-tarmak-single.png
  docs/images/02-tarmak-multi.png
  docs/images/tarmak-local.xml
  docs/images/tarmak-single-multi.xml
Due: none

Updates depreciated terraform vpc_id
  terraform/amazon/modules/network-existing-vpc/route53.tf
  terraform/amazon/modules/network/route53.tf
  terraform/amazon/templates/jenkins_user_data.yaml.template
Due: none

Remove trailing period from private_zone name
  terraform/amazon/modules/network/outputs.tf
Due: none

Fix bug where we give false errors on instance availability
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Fix tests and remove zones as we do not need it anymore
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/amazon_test.go
Due: none

Fix puppet linting error
  puppet/modules/vault_client/manifests/config.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Remove end from puppet test
  puppet/modules/kubernetes/spec/classes/proxy_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Puppet test fixes
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
  puppet/modules/kubernetes/spec/classes/proxy_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Find workaround for vault_token
  packer/amazon/centos-k8s-worker.json
  packer/amazon/prepare-puppet.sh
  puppet/modules/vault_client/manifests/config.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Add separate Packer builder for Kubernetes workers
  Gopkg.lock
  packer/amazon/centos-k8s-worker.json
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/packer/image.go
  pkg/packer/packer.go
  pkg/puppet/puppet.go
  pkg/tarmak/interfaces/interfaces.go
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/manifests/proxy.pp
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
  puppet/modules/kubernetes/spec/classes/proxy_spec.rb
  puppet/modules/tarmak/manifests/init.pp
  puppet/modules/tarmak/manifests/overlay_calico.pp
  puppet/modules/tarmak/manifests/worker.pp
  puppet/modules/tarmak/spec/acceptance/cluster_packer_spec.rb
  puppet/modules/tarmak/spec/classes/overlay_calico_spec.rb
  puppet/modules/tarmak/spec/classes/worker_spec.rb
  puppet/modules/vault_client/manifests/cert_service.pp
  puppet/modules/vault_client/manifests/init.pp
  puppet/modules/vault_client/manifests/params.pp
  puppet/modules/vault_client/manifests/service.pp
  puppet/modules/vault_client/spec/acceptance/standard_spec.rb
  puppet/modules/vault_client/spec/classes/init_spec.rb
  puppet/modules/vault_client/spec/defines/cert_service_spec.rb
  vendor/github.com/hashicorp/packer/provisioner/file/provisioner.go
  vendor/github.com/hashicorp/packer/provisioner/guest_commands.go
  vendor/github.com/hashicorp/packer/provisioner/puppet-masterless/provisioner.go
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Fix for real now
  puppet/modules/kubernetes/spec/classes/proxy_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Bring packer build for worker to the same function as master
  packer/amazon/centos-k8s-worker.json
  packer/amazon/vault_token_removal.sh
Due: none

Rename packer build and add tag for Kubernetes version
  packer/amazon/centos-puppet-agent-k8s-worker.json
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/tarmak/v1alpha1/constants.go
  pkg/packer/image.go
Due: none

Address commenst Josh
  packer/amazon/centos-k8s-worker.json
  packer/amazon/prepare_puppet.sh
  packer/amazon/vault_token_removal.sh
  puppet/modules/tarmak/manifests/worker.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fix for concurrent build
  pkg/packer/packer.go
Due: none

Add hash of puppet folder to tags
  packer/amazon/centos-puppet-agent-k8s-worker.json
  pkg/packer/image.go
Due: none

Remove debug statement
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Fix go fmt error
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Use in package ssh for all programmatic use cases
  Gopkg.lock
  cmd/tarmak/cmd/cluster_instances_ssh.go
  cmd/tarmak/cmd/cluster_ssh.go
  cmd/tarmak/cmd/tunnel.go
  docs/cmd-docs.rst
  docs/generated/cmd/tarmak/tarmak_clusters_ssh.rst
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/cluster/cluster_test.go
  pkg/tarmak/cluster/configuration.go
  pkg/tarmak/environment/bastion.go
  pkg/tarmak/environment/environment.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/kubectl/kubectl.go
  pkg/tarmak/provider/amazon/hosts.go
  pkg/tarmak/ssh.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/ssh/tunnel.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/vault/tunnel.go
  pkg/tarmak/vault/tunnel_test.go
  pkg/tarmak/vault/vault.go
Due: none

Adds host key call back function
  pkg/tarmak/environment/bastion.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/tarmak.go
Due: none

Fix tiller docs
  docs/user-guide.rst
Due: none

Extend docs for psp
  docs/user-guide.rst
Due: none

Fix spelling
  docs/user-guide.rst
Due: none

Updates docs, Gopkg.lock and fixes tunnel port string
  Gopkg.lock
  docs/generated/cmd/tarmak/tarmak_clusters_instances_ssh.rst
  pkg/tarmak/kubectl/kubectl.go
  pkg/tarmak/ssh/ssh.go
Due: none

Adds consul and etcd save and consul restore
  cmd/tarmak/cmd/cluster.go
  cmd/tarmak/cmd/cluster_snapshot.go
  cmd/tarmak/cmd/cluster_snapshot_consul.go
  cmd/tarmak/cmd/cluster_snapshot_consul_restore.go
  cmd/tarmak/cmd/cluster_snapshot_consul_save.go
  cmd/tarmak/cmd/cluster_snapshot_etcd.go
  cmd/tarmak/cmd/cluster_snapshot_etcd_restore.go
  cmd/tarmak/cmd/cluster_snapshot_etcd_save.go
  docs/cmd-docs.rst
  docs/generated/cmd/tarmak/tarmak_clusters.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot_consul.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot_consul_restore.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot_consul_save.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot_etcd.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot_etcd_restore.rst
  docs/generated/cmd/tarmak/tarmak_clusters_snapshot_etcd_save.rst
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/apis/tarmak/v1alpha1/zz_generated.deepcopy.go
  pkg/tarmak/cmd.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/snapshot/consul/consul.go
  pkg/tarmak/snapshot/etcd/etcd.go
  pkg/tarmak/snapshot/snapshot.go
  pkg/tarmak/utils/consts/consts.go
  pkg/tarmak/utils/slices.go
  puppet/modules/etcd/manifests/init.pp
  puppet/modules/etcd/manifests/install.pp
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Ensure volumes are correctly mounted for vault instances
  puppet/hieradata/role/vault.yaml
  puppet/modules/consul/manifests/service.pp
  puppet/modules/tarmak/manifests/vault.pp
  puppet/modules/vault_server/manifests/init.pp
  terraform/amazon/modules/vault/templates/vault_role_policy.json
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fix spec tests
  puppet/modules/consul/manifests/service.pp
  puppet/modules/tarmak/spec/classes/vault_spec.rb
  puppet/modules/tarmak/spec/spec_helper.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Makes vault_server::volume_id optional string
  puppet/modules/tarmak/manifests/vault.pp
  puppet/modules/tarmak/spec/classes/vault_spec.rb
  puppet/modules/vault_server/manifests/init.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
