Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$

Updates brodocs dir in update-reference-docs
  hack/update-reference-docs.sh
Due: none

Removed remote state get in provider
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/tf_remote_state.go
  pkg/tarmak/terraform.go
Due: none

Increase vault tunnel tries to every 1 -> 5 sec * 60
  pkg/tarmak/vault/vault.go
Due: none

Bump node-exporter to 0.16.0 and update rules
  puppet/modules/prometheus/README.md
  puppet/modules/prometheus/manifests/node_exporter.pp
  puppet/modules/prometheus/spec/defines/rule_spec.rb
Due: tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds etcd snapshot backup to s3 strategy
  puppet/hieradata/role/etcd.yaml
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/templates/consul-backup.service.erb
  puppet/modules/etcd/files/etcd-backup.sh
  puppet/modules/etcd/manifests/init.pp
  puppet/modules/etcd/manifests/install.pp
  puppet/modules/etcd/manifests/instance.pp
  puppet/modules/etcd/manifests/params.pp
  puppet/modules/etcd/manifests/service.pp
  puppet/modules/etcd/templates/etcd-backup.service.erb
  puppet/modules/etcd/templates/etcd-backup.timer.erb
  puppet/modules/tarmak/manifests/etcd.pp
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/modules/kubernetes/templates/iam_etcd_backup_bucket_write.json
  terraform/amazon/modules/vault/outputs.tf
  terraform/amazon/templates/instance_pools/instance_pool_iam.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/modules.tf.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Require /bin/etcd present for etcd install
  puppet/modules/etcd/manifests/install.pp
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds backup definition for etcd module
  puppet/modules/etcd/manifests/backup.pp
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Update Tarmak docs section on PSP
  docs/user-guide.rst
Due: none

Move backup etcd to define on each cluster
  puppet/hieradata/role/etcd.yaml
  puppet/modules/etcd/files/etcd-backup.sh
  puppet/modules/etcd/manifests/backup.pp
  puppet/modules/etcd/manifests/init.pp
  puppet/modules/etcd/manifests/install.pp
  puppet/modules/etcd/manifests/service.pp
  puppet/modules/etcd/templates/etcd-backup.service.erb
  puppet/modules/tarmak/manifests/etcd.pp
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/modules.tf.template
  terraform/amazon/templates/outputs.tf.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Add EBS Encryption flag
  CONTRIBUTING.md
  docs/spelling_wordlist.txt
  docs/user-guide.rst
  packer/amazon/centos-puppet-agent-latest-kernel.json
  packer/amazon/centos-puppet-agent.json
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/packer/image.go
  pkg/packer/packer.go
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/instance_pool/instance_pool.go
  pkg/tarmak/instance_pool/volume.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/image.go
  pkg/terraform/templating.go
  terraform/amazon/templates/vault_instances.tf.template
Due: none

Use full path without link for etcd backup script
  puppet/modules/etcd/manifests/install.pp
  puppet/modules/etcd/templates/etcd-backup.service.erb
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Add docs about using instance storage
  docs/user-guide.rst
Due: none

Add EBS protection
  pkg/terraform/plan/plan.go
  pkg/terraform/plan/plan_test.go
  pkg/terraform/terraform.go
Due: none

Ensure all instances use EBS encryption if enabled
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/instance_pools/instance_pools.tf.template
Due: none

Fix etcd metrics not being discovered by prometheus
  puppet/modules/prometheus/README.md
  puppet/modules/prometheus/manifests/init.pp
  puppet/modules/prometheus/manifests/node_exporter.pp
  puppet/modules/prometheus/manifests/params.pp
  puppet/modules/prometheus/spec/classes/blackbox_exporter_etcd_spec.rb
  puppet/modules/prometheus/spec/classes/node_exporter_spec.rb
  puppet/modules/prometheus/spec/classes/rules_spec.rb
  puppet/modules/prometheus/spec/defines/scrape_config_spec.rb
  puppet/modules/tarmak/manifests/init.pp
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
Due: tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Refactor terraform plan exit code checking
  cmd/tarmak/cmd/cluster_plan.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/terraform.go
  pkg/tarmak/utils/context.go
  pkg/terraform/terraform.go
Due: none

Change storage to store and rename data to Docker
  docs/user-guide.rst
Due: none

change worder per @charlieegan3 review
  docs/user-guide.rst
Due: none

Removes unused ebsEncrypted from amazon struct
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Remove white space
  pkg/tarmak/provider/amazon/image.go
Due: none

New branch for AMI checks issue
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Adds encrypted label to tarmak cluster images list
  cmd/tarmak/cmd/cluster_images_list.go
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/image.go
Due: none

List only images with same encryption state as config
  pkg/packer/packer.go
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/image.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/terraform.go
Due: none

Adds verification check for ebs encrypted ami
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/image.go
Due: none

Moves enc image pruning to cluster IDs
  pkg/packer/packer.go
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/image.go
Due: none

Add an Istio section to examples
  docs/examples/istio.rst
  docs/spelling_wordlist.txt
  docs/user-guide.rst
Due: none

Adds package-lock.json in hack/brodocs
  hack/brodocs/package-lock.json
Due: none

Correctly mount nvme drives for etcd instances
  puppet/modules/tarmak/manifests/etcd.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Release 0.5.0-alpha3
  terraform/amazon/modules/bastion/templates/bastion_user_data.yaml
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: none

Ensure full path is passed to mount
  puppet/modules/tarmak/manifests/etcd.pp
  puppet/modules/tarmak/manifests/vault.pp
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Make sure node_exporter are restarted correctly
  puppet/modules/prometheus/manifests/node_exporter.pp
Due: tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fix node-exporter port on etcd nodes
  puppet/modules/prometheus/manifests/node_exporter.pp
Due: tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Add navigator docs section
  docs/examples.rst
  docs/examples/navigator.rst
  docs/spelling_wordlist.txt
Due: none

Appease the overzealous linkchecker
  docs/examples/navigator.rst
  docs/spelling_wordlist.txt
Due: none

Don't ebs attach attached devices
  puppet/modules/aws_ebs/manifests/mount.pp
  puppet/modules/aws_ebs/templates/ensure-volume-formatted.service.erb
  puppet/modules/tarmak/manifests/etcd.pp
  puppet/modules/tarmak/manifests/vault.pp
  puppet/modules/tarmak/spec/spec_helper.rb
Due: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Add HPA docs
  docs/examples/horizontal-pod-autoscaling.rst
  docs/spelling_wordlist.txt
Due: none

Fix docs
  docs/examples/horizontal-pod-autoscaling.rst
Due: none
