Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

tarmak-puppet-module-aws_ebs-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-aws_es_proxy-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-calico-acceptance:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

tarmak-puppet-module-etcd-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-etcd-acceptance-single-node:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

tarmak-puppet-module-fluent_bit-quick-verify:
  labels:
    preset-service-account: 'true'
  spec:
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
      - --repo=github.com/$(REPO_OWNER)/$(REPO_NAME)=$(PULL_REFS)
      - --root=/workspace
      - --upload=gs://jetstack-logs/pr-logs
      - --clean
      env:
      - name: BUNDLE_DIR
  ...

tarmak-puppet-module-fluent_bit-acceptance:
  labels:
    preset-service-account: 'true'
    libvirt-socket: 'true'
  spec:
    nodeSelector:
      node-role.kubernetes.io/libvirt: ''
    tolerations:
    - effect: NoSchedule
      key: dedicated
      operator: Equal
    containers:
    - image: gcr.io/jetstack-build-infra/ruby:2.4.0
      args:
  ...

Ensure ssh key file holds correct permissions and can be parsed
  pkg/tarmak/environment/environment.go
Due: none

Move ssh validation to tarmak/ssh
  pkg/tarmak/environment/environment.go
  pkg/tarmak/ssh/ssh.go
Due: none

Updates vendor
  Gopkg.lock
  Gopkg.toml
  vendor/github.com/cpuguy83/go-md2man/LICENSE.md
  vendor/github.com/cpuguy83/go-md2man/md2man/md2man.go
  vendor/github.com/cpuguy83/go-md2man/md2man/roff.go
  vendor/github.com/russross/blackfriday/LICENSE.txt
  vendor/github.com/russross/blackfriday/block.go
  vendor/github.com/russross/blackfriday/doc.go
  vendor/github.com/russross/blackfriday/html.go
  vendor/github.com/russross/blackfriday/inline.go
  vendor/github.com/russross/blackfriday/latex.go
  vendor/github.com/russross/blackfriday/markdown.go
  vendor/github.com/russross/blackfriday/smartypants.go
  vendor/github.com/spf13/cobra/cobra/cmd/add.go
  vendor/github.com/spf13/cobra/cobra/cmd/helpers.go
  vendor/github.com/spf13/cobra/cobra/cmd/init.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_agpl.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_apache_2.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_bsd_clause_2.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_bsd_clause_3.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_gpl_2.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_gpl_3.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_lgpl.go
  vendor/github.com/spf13/cobra/cobra/cmd/license_mit.go
  vendor/github.com/spf13/cobra/cobra/cmd/licenses.go
  vendor/github.com/spf13/cobra/cobra/cmd/project.go
  vendor/github.com/spf13/cobra/cobra/cmd/root.go
  vendor/github.com/spf13/cobra/cobra/main.go
  vendor/github.com/spf13/cobra/doc/man_docs.go
  vendor/github.com/spf13/cobra/doc/md_docs.go
  vendor/github.com/spf13/cobra/doc/rest_docs.go
  vendor/github.com/spf13/cobra/doc/util.go
  vendor/github.com/spf13/cobra/doc/yaml_docs.go
Due: none

Remove instance specific command line flag defaults/parameters
  cmd/wing/cmd/agent.go
  cmd/wing/cmd/server.go
  docs/generated/cmd/wing/wing_agent.rst
  docs/generated/cmd/wing/wing_server.rst
  pkg/wing/wing.go
Due: none

Update cli-docs
  docs/cmd-docs.rst
Due: none

Sort cmd list and fix ref links
  Makefile
  docs/cmd-docs.rst
  docs/generated/cmd/tarmak/tarmak.rst
  docs/generated/cmd/tarmak/tarmak_clusters.rst
  docs/generated/cmd/tarmak/tarmak_clusters_apply.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug_puppet.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug_puppet_build-tar.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug_terraform.rst
  docs/generated/cmd/tarmak/tarmak_clusters_debug_terraform_shell.rst
  docs/generated/cmd/tarmak/tarmak_clusters_destroy.rst
  docs/generated/cmd/tarmak/tarmak_clusters_force-unlock.rst
  docs/generated/cmd/tarmak/tarmak_clusters_images.rst
  docs/generated/cmd/tarmak/tarmak_clusters_images_build.rst
  docs/generated/cmd/tarmak/tarmak_clusters_images_list.rst
  docs/generated/cmd/tarmak/tarmak_clusters_instances.rst
  docs/generated/cmd/tarmak/tarmak_clusters_instances_list.rst
  docs/generated/cmd/tarmak/tarmak_clusters_instances_ssh.rst
  docs/generated/cmd/tarmak/tarmak_clusters_list.rst
  docs/generated/cmd/tarmak/tarmak_clusters_plan.rst
  docs/generated/cmd/tarmak/tarmak_clusters_set-current.rst
  docs/generated/cmd/tarmak/tarmak_clusters_ssh.rst
  docs/generated/cmd/tarmak/tarmak_environments.rst
  docs/generated/cmd/tarmak/tarmak_environments_init.rst
  docs/generated/cmd/tarmak/tarmak_environments_list.rst
  docs/generated/cmd/tarmak/tarmak_init.rst
  docs/generated/cmd/tarmak/tarmak_kubectl.rst
  docs/generated/cmd/tarmak/tarmak_providers.rst
  docs/generated/cmd/tarmak/tarmak_providers_init.rst
  docs/generated/cmd/tarmak/tarmak_providers_list.rst
  docs/generated/cmd/tarmak/tarmak_providers_validate.rst
  docs/generated/cmd/tarmak/tarmak_version.rst
  docs/generated/cmd/wing/wing.rst
  docs/generated/cmd/wing/wing_agent.rst
  docs/generated/cmd/wing/wing_server.rst
  docs/generated/cmd/wing/wing_version.rst
  hack/cmd-gen/main.go
  hack/update-cmd-docs.sh
  hack/verify-cmd-docs.sh
Due: none

Update wing cmd docs
  docs/generated/cmd/wing/wing_server.rst
Due: none

Update cmd gen docs + orders diff correctly
  docs/design_cli_ux.rst
  docs/generated/cmd/tarmak/tarmak_clusters_apply.rst
  docs/generated/cmd/tarmak/tarmak_clusters_destroy.rst
  docs/generated/cmd/tarmak/tarmak_clusters_force-unlock.rst
  docs/generated/cmd/tarmak/tarmak_clusters_instances_ssh.rst
  docs/generated/cmd/tarmak/tarmak_clusters_set-current.rst
  docs/generated/cmd/tarmak/tarmak_clusters_ssh.rst
  docs/generated/cmd/tarmak/tarmak_kubectl.rst
  hack/verify-cmd-docs.sh
Due: none

Adds `tarmak cluster debug terraform generate` command
  cmd/tarmak/cmd/cluster_debug_terraform_generate.go
  pkg/tarmak/terraform.go
  pkg/tarmak/utils/context.go
Due: none

Improve CLI and ensure tarmak is cleaned up
  cmd/tarmak/cmd/cluster_apply.go
  cmd/tarmak/cmd/cluster_debug_terraform_generate.go
  cmd/tarmak/cmd/cluster_debug_terraform_shell.go
  cmd/tarmak/cmd/cluster_destroy.go
  cmd/tarmak/cmd/cluster_images_build.go
  cmd/tarmak/cmd/cluster_kubectl.go
  cmd/tarmak/cmd/cluster_plan.go
  cmd/tarmak/cmd/cluster_set-current.go
  cmd/tarmak/cmd/environment_init.go
  cmd/tarmak/cmd/provider_init.go
  cmd/tarmak/cmd/provider_validate.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/terraform.go
  pkg/tarmak/utils/context.go
  pkg/terraform/terraform.go
Due: none

Adds terraform validate command, run fmt + validate on prepare
  cmd/tarmak/cmd/cluster_debug_terraform_validate.go
  cmd/tarmak/cmd/terraform.go
  pkg/tarmak/terraform.go
  pkg/terraform/passthrough.go
  pkg/terraform/terraform.go
Due: none

Reverts to only warn on setup error on shell
  pkg/tarmak/terraform.go
Due: none

Revert Must to common behavior. Wrap with Conclude
  cmd/tarmak/cmd/cluster_debug_terraform_shell.go
  cmd/tarmak/cmd/cluster_images_list.go
  cmd/tarmak/cmd/cluster_init.go
  cmd/tarmak/cmd/cluster_kubectl.go
  cmd/tarmak/cmd/cluster_set-current.go
  cmd/tarmak/cmd/environment_init.go
  cmd/tarmak/cmd/provider_init.go
  cmd/tarmak/cmd/provider_validate.go
  pkg/tarmak/tarmak.go
  pkg/terraform/terraform.go
Due: none

Fixes tarmak_test.go
  pkg/tarmak/tarmak_test.go
Due: none

Removes terraform debug validate+generate
  cmd/tarmak/cmd/cluster_debug_terraform_generate.go
  cmd/tarmak/cmd/cluster_debug_terraform_validate.go
  pkg/tarmak/terraform.go
Due: none

Remove duplicated function call
  pkg/tarmak/terraform.go
Due: none

Adds terraform fmt tests
  pkg/tarmak/tarmak_test.go
  pkg/terraform/terraform.go
Due: none

Ensure further error context is passed up
  pkg/terraform/terraform.go
Due: none

Adds go_cmd_docs_gen to Makefile
  Makefile
Due: none

Change function name Conclude -> Perform
  cmd/tarmak/cmd/cluster_debug_terraform_shell.go
  cmd/tarmak/cmd/cluster_images_list.go
  cmd/tarmak/cmd/cluster_init.go
  cmd/tarmak/cmd/cluster_kubectl.go
  cmd/tarmak/cmd/cluster_set-current.go
  cmd/tarmak/cmd/environment_init.go
  cmd/tarmak/cmd/provider_init.go
  cmd/tarmak/cmd/provider_validate.go
  pkg/tarmak/tarmak.go
Due: none

Adds etcd snapshot backup to s3 strategy
  puppet/hieradata/role/etcd.yaml
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/templates/consul-backup.service.erb
  puppet/modules/etcd/files/etcd-backup.sh
  puppet/modules/etcd/manifests/init.pp
  puppet/modules/etcd/manifests/install.pp
  puppet/modules/etcd/manifests/instance.pp
  puppet/modules/etcd/manifests/params.pp
  puppet/modules/etcd/manifests/service.pp
  puppet/modules/etcd/templates/etcd-backup.service.erb
  puppet/modules/etcd/templates/etcd-backup.timer.erb
  puppet/modules/tarmak/manifests/etcd.pp
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/modules/kubernetes/templates/iam_etcd_backup_bucket_write.json
  terraform/amazon/modules/vault/outputs.tf
  terraform/amazon/templates/instance_pools/instance_pool_iam.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/modules.tf.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Use full path without link for etcd backup script
  puppet/modules/etcd/manifests/install.pp
  puppet/modules/etcd/templates/etcd-backup.service.erb
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds backup definition for etcd module
  puppet/modules/etcd/manifests/backup.pp
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Require /bin/etcd present for etcd install
  puppet/modules/etcd/manifests/install.pp
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Add some minio testing to CI
  puppet/modules/etcd/files/etcd-backup.sh
  puppet/modules/etcd/files/minio-server.service
  puppet/modules/etcd/files/minio-server.sh
  puppet/modules/etcd/manifests/backup.pp
  puppet/modules/etcd/manifests/init.pp
  puppet/modules/etcd/manifests/install.pp
  puppet/modules/etcd/manifests/instance.pp
  puppet/modules/etcd/spec/acceptance/single_node_spec.rb
  puppet/modules/etcd/spec/defines/backup_spec.rb
  puppet/modules/etcd/templates/etcd-backup.service.erb
  puppet/modules/etcd/templates/etcd-backup.sh.erb
  puppet/modules/etcd/templates/etcd-backup.timer.erb
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Move backup etcd to define on each cluster
  puppet/hieradata/role/etcd.yaml
  puppet/modules/etcd/files/etcd-backup.sh
  puppet/modules/etcd/manifests/backup.pp
  puppet/modules/etcd/manifests/init.pp
  puppet/modules/etcd/manifests/install.pp
  puppet/modules/etcd/manifests/service.pp
  puppet/modules/etcd/templates/etcd-backup.service.erb
  puppet/modules/tarmak/manifests/etcd.pp
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/modules.tf.template
  terraform/amazon/templates/outputs.tf.template
  terraform/amazon/templates/puppet_agent_user_data.yaml.template
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Enable backups for all etcd instance but events
  puppet/hieradata/role/etcd.yaml
  puppet/modules/tarmak/manifests/etcd.pp
  puppet/spec/hosts/etcd_spec.rb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Check backups exist during acceptance tests
  puppet/modules/etcd/spec/acceptance/single_node_spec.rb
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Enables additional policies for bastion and vault instance pools
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/tarmak/cluster/cluster.go
  terraform/amazon/modules/bastion/bastion.tf
  terraform/amazon/modules/bastion/bastion_iam.tf
  terraform/amazon/modules/bastion/inputs.tf
  terraform/amazon/modules/bastion/templates/role.json
  terraform/amazon/modules/vault/inputs.tf
  terraform/amazon/modules/vault/vault_iam.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Move tarmak sock to /tmp and ensure cleanup
  cmd/tarmak/cmd/cluster_force-unlock.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/utils/context.go
  pkg/terraform/templating.go
  pkg/terraform/terraform.go
Due: none

Fix terraform white space errors
  terraform/amazon/templates/instance_pools/instance_pool_iam.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/modules.tf.template
Due: none

Format enable/disable admission list in docs
  docs/user-guide.rst
Due: none

Adds config flags for API admission plugins
  docs/generated/reference/output/api-docs.html
  docs/user-guide.rst
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/puppet/puppet.go
Due: none

Adds review changes
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Unset deprecated flags from 1.11
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds review changes
  pkg/puppet/puppet.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/kubernetes/manifests/apiserver.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Don't attempt to filter admission controller defaults
  puppet/modules/kubernetes/manifests/apiserver.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Update enable admission controller test
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds admission controller defaults to docs
  docs/spelling_wordlist.txt
  docs/user-guide.rst
Due: none

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$
