Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$

Improve ssh Execute signals
  cmd/tarmak/cmd/cluster_logs.go
  pkg/tarmak/logs/logs.go
  pkg/tarmak/ssh/ssh.go
Due: none

Adds review changes
  cmd/tarmak/cmd/cluster.go
  pkg/tarmak/cmd.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/logs/logs.go
  pkg/tarmak/utils/constants.go
  pkg/tarmak/utils/context.go
Due: none

Migrate from lists to split YAMLs
  puppet/modules/kubernetes/templates/rbac-cluster-role-bindings.yaml.erb
  puppet/modules/kubernetes/templates/rbac-cluster-roles.yaml.erb
  puppet/modules/kubernetes/templates/rbac-namespace-role-bindings.yaml.erb
  puppet/modules/kubernetes/templates/rbac-namespace-roles.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Metrics-server manifests comply with the label check
  puppet/modules/kubernetes_addons/templates/metrics-server-rbac.yaml.erb
  puppet/modules/kubernetes_addons/templates/metrics-server.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Use a wrong manifest but valid YAML
  puppet/modules/kubernetes/spec/acceptance/single_node_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Decrease log output noise and properly group logs
  pkg/tarmak/cmd.go
  pkg/tarmak/logs/logs.go
Due: none

Fix heapster vertical pod autoscaler race condition
  puppet/modules/kubernetes_addons/templates/heapster-deployment.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

If we mis-match keys, attempt to use the tags instead
  pkg/tarmak/ssh/ssh.go
Due: none

Move Heptio ark to Velero
  docs/examples/ark.rst
  docs/examples/velero.rst
  docs/spelling_wordlist.txt
Due: none

Adds Prometheus scaping for core-dns, removes kubectl delete
  puppet/modules/kubernetes/manifests/delete.pp
  puppet/modules/kubernetes/manifests/dns.pp
  puppet/modules/kubernetes/templates/core-dns-deployment.yaml.erb
  puppet/modules/kubernetes/templates/dns-cluster-role-binding.yaml.erb
  puppet/modules/kubernetes/templates/dns-cluster-role.yaml.erb
  puppet/modules/kubernetes/templates/dns-horizontal-autoscaler-deployment.yaml.erb
  puppet/modules/kubernetes/templates/dns-horizontal-autoscaler-rbac.yaml.erb
  puppet/modules/kubernetes/templates/dns-service-account.yaml.erb
  puppet/modules/kubernetes/templates/dns-svc.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Use code-dns for Kubernetes > 0.10
  puppet/modules/kubernetes/Gemfile
  puppet/modules/kubernetes/Gemfile.lock
  puppet/modules/kubernetes/manifests/dns.pp
  puppet/modules/kubernetes/spec/classes/dns_spec.rb
  puppet/modules/kubernetes/templates/core-dns-config-map.yaml.erb
  puppet/modules/kubernetes/templates/core-dns-deployment.yaml.erb
  puppet/modules/kubernetes/templates/core-dns-horizontal-autoscaler-deployment.yaml.erb
  puppet/modules/kubernetes/templates/dns-cluster-role-binding.yaml.erb
  puppet/modules/kubernetes/templates/dns-cluster-role.yaml.erb
  puppet/modules/kubernetes/templates/dns-horizontal-autoscaler-deployment.yaml.erb
  puppet/modules/kubernetes/templates/dns-horizontal-autoscaler-rbac.yaml.erb
  puppet/modules/kubernetes/templates/dns-service-account.yaml.erb
  puppet/modules/kubernetes/templates/dns-svc.yaml.erb
  puppet/modules/kubernetes/templates/rbac-cluster-role-bindings.yaml.erb
  puppet/modules/kubernetes/templates/rbac-cluster-roles.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Ensure old dns deployment is removed from cluster
  puppet/modules/kubernetes/manifests/delete.pp
  puppet/modules/kubernetes/manifests/dns.pp
  puppet/modules/kubernetes/spec/classes/dns_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Update acceptance tests to use core-dns
  puppet/modules/kubernetes_addons/templates/metrics-server.yaml.erb
  puppet/modules/tarmak/spec/acceptance/single_node_spec.rb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Ensure kube-dns is delete when migrating
  puppet/modules/kubernetes/Gemfile
  puppet/modules/kubernetes/manifests/apply.pp
  puppet/modules/kubernetes/manifests/delete.pp
  puppet/modules/kubernetes/manifests/dns.pp
  puppet/modules/kubernetes/spec/classes/dns_spec.rb
  puppet/modules/kubernetes/templates/core-dns-deployment.yaml.erb
  puppet/modules/kubernetes/templates/core-dns-horizontal-autoscaler-deployment.yaml.erb
  puppet/modules/kubernetes/templates/dns-svc.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Add destroy environment command
  cmd/tarmak/cmd/environment.go
  cmd/tarmak/cmd/environment_destroy.go
  docs/cmd-docs.rst
  docs/generated/cmd/tarmak/tarmak_environments.rst
  docs/generated/cmd/tarmak/tarmak_environments_destroy.rst
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/apis/tarmak/v1alpha1/zz_generated.deepcopy.go
  pkg/tarmak/cmd.go
  pkg/tarmak/config/config.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/tf_remote_state.go
  pkg/tarmak/tarmak.go
Due: none

FMT fix
  pkg/tarmak/cmd.go
Due: none

Add extra check
  pkg/tarmak/config/config.go
Due: none

Remove new line
  pkg/tarmak/tarmak.go
Due: none

Fix docs
  docs/generated/cmd/tarmak/tarmak_environments_destroy.rst
Due: none

Fix terraform problem when destroying multiclusters
  pkg/tarmak/cmd.go
  pkg/terraform/terraform.go
Due: none

Adds kubernetes as an optional backend for calico
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/puppet/puppet.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/calico/Gemfile.lock
  puppet/modules/calico/manifests/config.pp
  puppet/modules/calico/manifests/init.pp
  puppet/modules/calico/manifests/node.pp
  puppet/modules/calico/manifests/params.pp
  puppet/modules/calico/manifests/policy_controller.pp
  puppet/modules/calico/spec/classes/config_spec.rb
  puppet/modules/calico/spec/classes/node_spec.rb
  puppet/modules/calico/templates/configmap_etcd.yaml.erb
  puppet/modules/calico/templates/configmap_kubernetes.yaml.erb
  puppet/modules/calico/templates/configure_calico_kubernetes_job.yaml.erb
  puppet/modules/calico/templates/node-daemonset_etcd.yaml.erb
  puppet/modules/calico/templates/node-daemonset_kubernetes.yaml.erb
  puppet/modules/calico/templates/policy-controller-deployment.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Correctly configure calico for kubernetes backend
  puppet/modules/calico/manifests/config.pp
  puppet/modules/calico/manifests/node.pp
  puppet/modules/calico/templates/configmap_kubernetes.yaml.erb
  puppet/modules/calico/templates/configure_calico_kubernetes_job.yaml.erb
  puppet/modules/calico/templates/node-crd.yaml.erb
  puppet/modules/calico/templates/node-daemonset_kubernetes.yaml.erb
  puppet/modules/calico/templates/node-rbac.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds labels to calico resources and removes feature gates
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/calico/templates/configmap_kubernetes.yaml.erb
  puppet/modules/calico/templates/node-crd.yaml.erb
  puppet/modules/calico/templates/node-daemonset_kubernetes.yaml.erb
  puppet/modules/calico/templates/node-rbac.yaml.erb
  puppet/modules/calico/templates/policy-controller-deployment.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds calico puppet modules tests for kubernetes backend
  puppet/modules/calico/manifests/init.pp
  puppet/modules/calico/manifests/node.pp
  puppet/modules/calico/spec/classes/config_spec.rb
  puppet/modules/calico/spec/classes/node_spec.rb
  puppet/modules/calico/templates/configmap_kubernetes.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds docs on how to configure calico
  docs/spelling_wordlist.txt
  docs/user-guide.rst
Due: none

Remove problem parameter
  puppet/modules/calico/manifests/params.pp
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds typha option to calico kubernetes backend
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/puppet/puppet.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/calico/Gemfile.lock
  puppet/modules/calico/manifests/init.pp
  puppet/modules/calico/manifests/node.pp
  puppet/modules/calico/manifests/params.pp
  puppet/modules/calico/templates/node-daemonset_kubernetes.yaml.erb
  puppet/modules/calico/templates/node-typha.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Use ipipMode: CrossSubnet for kubernetes backend calico
  pkg/puppet/puppet.go
  puppet/modules/kubernetes/templates/dns-cluster-role-binding.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fix function to verify yaml
  puppet/modules/kubernetes/functions/addon_manager_labels.pp
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Metrics-server manifests comply with the label check
  puppet/modules/kubernetes_addons/templates/metrics-server-rbac.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Use same daemonset yaml with templating for calico backends
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/calico/manifests/node.pp
  puppet/modules/calico/spec/classes/node_spec.rb
  puppet/modules/calico/templates/node-daemonset.yaml.erb
  puppet/modules/calico/templates/node-daemonset_kubernetes.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Remove separator after comments in yaml
  puppet/modules/calico/spec/classes/node_spec.rb
  puppet/modules/calico/templates/node-crd.yaml.erb
Due: tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Upgrade to Centos 7.6.1810
  packer/amazon/configure_for_tarmak.sh
Due: none

Set additional IAM policies correctly for all roles
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/instance_pool/instance_pool.go
  pkg/tarmak/interfaces/interfaces.go
  terraform/amazon/templates/instance_pools/instance_pool_variables.tf.template
Due: none

Disable etcd-overlay in calico kubernetes backend mode
  pkg/puppet/puppet.go
  puppet/modules/etcd/manifests/backup.pp
  puppet/modules/etcd/manifests/instance.pp
  puppet/modules/tarmak/manifests/etcd.pp
  puppet/modules/tarmak/manifests/init.pp
  puppet/modules/tarmak/manifests/overlay_calico.pp
  puppet/modules/vault_client/manifests/cert_service.pp
Due: tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Upgrade fluentbit to 1.0.4
  puppet/modules/fluent_bit/manifests/daemonset.pp
  puppet/modules/fluent_bit/manifests/params.pp
  puppet/modules/fluent_bit/templates/fluent-bit-daemonset.yaml.erb
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Improve documentation on Elasticsearch index config
  docs/spelling_wordlist.txt
  docs/user-guide.rst
  docs/user-guide/aws-elasticsearch/settings.json
Due: none

Use role_policy_attachment for additional policies
  pkg/tarmak/instance_pool/instance_pool.go
  terraform/amazon/modules/bastion/bastion_iam.tf
  terraform/amazon/modules/vault/vault_iam.tf
Due: none
