Repository jetstack/tarmak: changes, and which Prow jobs are due for each by the changed paths.
All: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-aws_es_proxy-quick-verify, tarmak-puppet-module-calico-quick-verify, tarmak-puppet-module-calico-acceptance, tarmak-puppet-module-etcd-quick-verify, tarmak-puppet-module-etcd-acceptance-single-node, tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-kubernetes_addons-quick-verify, tarmak-puppet-module-prometheus-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos, tarmak-puppet-module-vault_client-quick-verify, tarmak-puppet-module-vault_client-acceptance-centos

Path conditions:
  tarmak-puppet-module-aws_ebs-quick-verify: any of: ^(puppet/modules/aws_ebs).*$
  tarmak-puppet-module-aws_es_proxy-quick-verify: any of: ^(puppet/modules/aws_es_proxy).*$
  tarmak-puppet-module-calico-quick-verify: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-calico-acceptance: any of: ^(puppet/modules/calico).*$
  tarmak-puppet-module-etcd-quick-verify: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-etcd-acceptance-single-node: any of: ^(puppet/modules/etcd).*$
  tarmak-puppet-module-fluent_bit-quick-verify: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-fluent_bit-acceptance: any of: ^(puppet/modules/fluent_bit).*$
  tarmak-puppet-module-kubernetes-quick-verify: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes-acceptance: any of: ^(puppet/modules/kubernetes).*$
  tarmak-puppet-module-kubernetes_addons-quick-verify: any of: ^(puppet/modules/kubernetes_addons).*$
  tarmak-puppet-module-prometheus-quick-verify: any of: ^(puppet/modules/prometheus).*$
  tarmak-puppet-module-tarmak-quick-verify: any of: ^(puppet/modules).*$
  tarmak-puppet-module-tarmak-acceptance-1-10-centos: any of: ^(puppet/modules).*$
  tarmak-puppet-module-vault_client-quick-verify: any of: ^(puppet/modules/vault_client).*$
  tarmak-puppet-module-vault_client-acceptance-centos: any of: ^(puppet/modules/vault_client).*$

Format puppet and fix spec tests
  puppet/modules/aws_ebs/spec/defines/mount_spec.rb
  puppet/modules/tarmak/manifests/etcd.pp
  puppet/modules/tarmak/manifests/vault.pp
Due: tarmak-puppet-module-aws_ebs-quick-verify, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fix bug when running tarmak init with empty .tarmak directory
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Adds flags and image to generated API reference docs
  docs/generated/reference/config.yaml
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
Due: none

Fix failing kdump.service and network.service
  packer/amazon/centos-puppet-agent-latest-kernel.json
  packer/amazon/centos-puppet-agent.json
Due: none

Use aws CLI from centos upstream again
  packer/amazon/centos-puppet-agent-latest-kernel.json
  packer/amazon/centos-puppet-agent.json
Due: none

Remove SSH host keys as last command
  packer/amazon/centos-puppet-agent-latest-kernel.json
  packer/amazon/centos-puppet-agent.json
Due: none

Instance verify too eager for AWS API when all instances customised
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Slow down verification of AWS instance types due to rate limit
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Go fmt
  pkg/tarmak/provider/amazon/amazon.go
Due: none

Adds support for kube-proxy for >= 1.11
  puppet/modules/kubernetes/manifests/proxy.pp
  puppet/modules/kubernetes/spec/classes/proxy_spec.rb
  puppet/modules/kubernetes/templates/kube-proxy-config.yaml.erb
  puppet/modules/kubernetes/templates/kube-proxy.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds support for kubelet-config for >= 1.11
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
  puppet/modules/kubernetes/templates/kubelet-config.yaml.erb
  puppet/modules/kubernetes/templates/kubelet.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Adds review changes
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/manifests/proxy.pp
  puppet/modules/kubernetes/templates/kube-proxy.service.erb
  puppet/modules/kubernetes/templates/kubelet.service.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Fix github language detection
  .gitattributes
  puppet/.gitattributes
Due: none

Update OWNERS file
  OWNERS
Due: none

Wait for ready signal before marking unit active
  puppet/modules/consul/templates/consul.service.erb
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Configure agent token
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: none

Enable leave on terminate
  puppet/modules/consul/manifests/config.pp
  terraform/amazon/modules/vault/templates/vault_user_data.yaml
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Ensure acceptance tests are checking consul status
  puppet/modules/consul/manifests/config.pp
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/service.pp
  puppet/modules/consul/spec/acceptance/single_node_spec.rb
  puppet/modules/consul/spec/acceptance/three_nodes_spec.rb
  puppet/modules/consul/spec/classes/config_spec.rb
  puppet/modules/consul/spec/classes/service_spec.rb
  puppet/modules/consul/templates/consul.service.erb
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Update consul version to v1.2.3
  CHANGELOG.md
  puppet/modules/consul/manifests/params.pp
  puppet/modules/consul/spec/classes/install_spec.rb
  terraform/amazon/templates/inputs.tf.template
Due: tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Removes stylesheet.css from /
  stylesheet.css
Due: none

Correctly format kubelet feature flags for kubelet
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/spec/classes/kubelet_spec.rb
  puppet/modules/kubernetes/templates/kubelet-config.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Properly format feature gates
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/manifests/proxy.pp
  puppet/modules/kubernetes/templates/kubelet-config.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Add retry backoff for AWS call verifyInstanceType()
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/utils/networks.go
Due: none

Fix upper case of S in elasticsearch
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/node_modules/highlight.js/lib/highlight.js
  docs/generated/reference/output/node_modules/highlight.js/lib/languages/angelscript.js
  docs/generated/reference/output/node_modules/highlight.js/lib/languages/cs.js
  docs/generated/reference/output/node_modules/highlight.js/lib/languages/reasonml.js
  docs/generated/reference/output/node_modules/highlight.js/lib/languages/swift.js
  docs/generated/reference/output/node_modules/highlight.js/lib/languages/typescript.js
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/logging.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/tarmak/cluster/cluster.go
Due: none

Fix tests
  pkg/apis/cluster/v1alpha1/defaults_test.go
Due: none

Update and pin highlight.js node_module to 9.13.1
  docs/generated/reference/output/node_modules/highlight.js/lib/highlight.js
  docs/generated/reference/output/node_modules/highlight.js/lib/languages/angelscript.js
  docs/generated/reference/output/node_modules/highlight.js/lib/languages/cs.js
  docs/generated/reference/output/node_modules/highlight.js/lib/languages/reasonml.js
  docs/generated/reference/output/node_modules/highlight.js/lib/languages/swift.js
  docs/generated/reference/output/node_modules/highlight.js/lib/languages/typescript.js
  hack/brodocs/package.json
Due: none

Ensure terraform code is formatted
  terraform/amazon/modules/bastion/inputs.tf
  terraform/amazon/modules/bastion/outputs.tf
  terraform/amazon/modules/jenkins/aws.tf
  terraform/amazon/modules/jenkins/inputs.tf
  terraform/amazon/modules/jenkins/jenkins.tf
  terraform/amazon/modules/jenkins/jenkins_iam.tf
  terraform/amazon/modules/jenkins/outputs.tf
  terraform/amazon/modules/kubernetes/inputs.tf
  terraform/amazon/modules/kubernetes/providers.tf
  terraform/amazon/modules/kubernetes/vault.tf
  terraform/amazon/modules/network-existing-vpc/inputs.tf
  terraform/amazon/modules/network/inputs.tf
  terraform/amazon/modules/state/inputs.tf
  terraform/amazon/modules/state/outputs.tf
  terraform/amazon/modules/state/secrets.tf
  terraform/amazon/modules/vault/aws.tf
  terraform/amazon/modules/vault/inputs.tf
  terraform/amazon/modules/vault/outputs.tf
  terraform/amazon/modules/vault/vault_sg.tf
  terraform/amazon/templates/inputs.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_iam.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_instance.tf.template
  terraform/amazon/templates/instance_pools/instance_pool_variables.tf.template
  terraform/amazon/templates/instance_pools/instance_pools.tf.template
  terraform/amazon/templates/instance_pools/role_elb.tf.template
  terraform/amazon/templates/instance_pools/role_security_group.tf.template
  terraform/amazon/templates/instance_pools/role_variables.tf.template
  terraform/amazon/templates/jenkins_elb.tf.template
  terraform/amazon/templates/modules.tf.template
  terraform/amazon/templates/outputs.tf.template
  terraform/amazon/templates/providers.tf.template
  terraform/amazon/templates/vault_instances.tf.template
  terraform/amazon/templates/wing_s3.tf.template
Due: none

Improve error when remote state is destroyed
  pkg/tarmak/terraform.go
  pkg/terraform/templating.go
  pkg/terraform/terraform.go
Due: none

Bump fluent bit daemonset to latest version
  puppet/modules/fluent_bit/manifests/daemonset.pp
Due: tarmak-puppet-module-fluent_bit-quick-verify, tarmak-puppet-module-fluent_bit-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Removes unused stack related parameters
  cmd/tarmak/cmd/cluster.go
  cmd/tarmak/cmd/cluster_apply.go
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/apis/tarmak/v1alpha1/zz_generated.deepcopy.go
Due: none

Update reference docs
  docs/generated/reference/output/api-docs.html
Due: none

Remove un-unused flags from docs
  docs/design_cli_ux.rst
Due: none

Adds review corrections
  puppet/modules/kubernetes/templates/kubelet-config.yaml.erb
Due: tarmak-puppet-module-kubernetes-quick-verify, tarmak-puppet-module-kubernetes-acceptance, tarmak-puppet-module-tarmak-quick-verify, tarmak-puppet-module-tarmak-acceptance-1-10-centos

Update cobra shorts with arguments for docs gen
  cmd/tarmak/cmd/cluster_force-unlock.go
  cmd/tarmak/cmd/cluster_instances_ssh.go
  cmd/tarmak/cmd/cluster_kubectl.go
  cmd/tarmak/cmd/cluster_set-current.go
  cmd/tarmak/cmd/cluster_ssh.go
Due: none

Ensure ssh.Validate() run during ssh and kubectl
  pkg/tarmak/environment/environment.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/ssh.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/tarmak.go
Due: none
